@media (max-width: 768px) {
    .letter-to-director {
        margin-top: -30px;
    }

    .letter-to-director_header {
        font-size: 24px;
    }

    .letter-to-director_form {
        flex-direction: column;
        margin-top: 20px;
        gap: 16px;
    }

    .letter-to-director_input-wrapper {
        gap: 16px;
    }

    .letter-to-director_input {
        padding: 9px 16px;
    }

    .letter-to-director-textarea {
        height: 134px;
    }

    .letter-to-director_button {
        padding: 10PX 30PX;
        font-size: 14px;
        font-weight: 500;
    }
}