body {
    font-family: Manrope;
    background: #F3F3F8;
}

p {
    margin: 0;
}

a {
    text-decoration: unset;
    color: unset;
}


.container-width {
    max-width: 1180px;
    margin: auto;
}

.showcase_header {
    font-size: 52px;
    font-weight: 500;
    line-height: 120%;
}

.showcase_items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
}

.showcase_item {
    display: flex;
    flex-direction: column;
    max-width: 373px;
    /*height: 485px;*/
    background: #FFF;
    border-radius: 30px;
    padding: 30px;
}

.showcase_title {
    font-family: Onest;
    font-size: 28px;
    line-height: 130%;
    margin-top: 30px;
}

.showcase_item_img {
    max-width: 313px;
    max-height: 301px;
    border-radius: 20px;
}

.showcase_item_button-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.showcase_item_button {
    padding: 12px 29px 12px 30px;
    border-radius: 30px;
    text-align: center;
    font-family: Onest;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    width: 100%;
    max-width: 89px;
}

.showcase_item_button:hover {
    max-width: 95px;
}

.showcase_item_button:nth-child(1) {
    background: #FF6E1D;
    color: #FFF;
}

.showcase_item_button:nth-child(2) {
    border: 1px solid #FF6E1D;
    color: #FF6E1D;
}
