body {
    font-family: Manrope;
    background: #F3F3F8;
}

p {
    margin: 0;
}

a {
    text-decoration: unset;
    color: unset;
}

.container-width {
    max-width: 1180px;
    margin: auto;
}

.about-company {
    border-radius: 50px;
    background: #FFF;
    padding: 43px 30px 30px 30px;
}

.about-company_top .big-text {
    color: #292929;
    font-size: 102px;
    font-weight: 700;
    line-height: 101%;
}

.about-company_top .small-text {
    color: #B8B8D0;
    font-size: 37px;
    font-weight: 500;
    line-height: 109%;
}

.about-company_bottom {
    margin-top: 118px;
    display: flex;
    gap: 30px;
}

.about-company_bottom_image-box {
    max-width: 515px;
    position: relative;
}

.about-company_bottom_image-box .wholesale-order {
    position: absolute;
    padding: 12px;
    background: #FFF;
    border-radius: 50%;
    color: #FFF;
    top: -25%;
    left: 13%;
}

.about-company_bottom_image-box .wholesale-order:hover {
    padding: 6px;
}

.about-company_bottom_image-box .background-orange {
    width: 129px;
    height: 127px;
    background: #FF6E1D;
    border-radius: 50%;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 111.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-company_bottom_image-box .wholesale-order:hover .background-orange {
    width: 139px;
    height: 137px;
}

.about-company_bottom_image-box .wholesale-Order-img {
    width: 100%;
    border-radius: 30px;
}


.about-company_bottom_video-box {
    position: relative;
    width: 100%;
}

.about-company_bottom_video-box .video {
    position: absolute;
    border-radius: 30px;
    width: 100%;
    bottom: 0;
}


.we-work {
    color: #CBCBDA;
    text-align: center;
    font-size: 101px;
    font-weight: 700;
    line-height: 110%;
    border-radius: 50px;
    background: #FFF;
    padding: 20px 20px 40px 43px;
    margin-top: 40px;
}

.we-work span {
    color: #FF6E1D;
    font-size: 101px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -3.03px;
}


.production {
    margin-top: 40px;
}

.production_swiper {
    max-width: 1180px;
    width: 100%;
    height: 655px;
    position: relative;
}

.production_swiper:hover .production_swiper_button {
    display: block;
}

.production-item-img {
    max-width: 1180px;
    border-radius: 50px;
}

.production_swiper_button {
    width: 46px;
    height: 46px;
    position: absolute;
    top: 305px;
    z-index: 999;
    cursor: pointer;
    display: none;
}

.production_swiper_button-prev {
    left: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='46' height='46' viewBox='0 0 46 46' fill='none'%3E%3Ccircle cx='23' cy='23' r='23' transform='matrix(1 0 0 -1 0 46)' fill='white'/%3E%3Cpath d='M25 31L18 23L25 15' stroke='%23CBCBDA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.production_swiper_button-prev:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='46' height='46' viewBox='0 0 46 46' fill='none'%3E%3Ccircle cx='23' cy='23' r='23' transform='matrix(1 0 0 -1 0 46)' fill='white'/%3E%3Cpath d='M25 31L18 23L25 15' stroke='%2386869A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.production_swiper_button-next {
    right: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='46' height='46' viewBox='0 0 46 46' fill='none'%3E%3Ccircle cx='23' cy='23' r='23' transform='matrix(-1 8.74228e-08 8.74228e-08 1 46 0)' fill='white'/%3E%3Cpath d='M21 15L28 23L21 31' stroke='%23CBCBDA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.production_swiper_button-next:hover {
    right: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='46' height='46' viewBox='0 0 46 46' fill='none'%3E%3Ccircle cx='23' cy='23' r='23' transform='matrix(-1 8.74228e-08 8.74228e-08 1 46 0)' fill='white'/%3E%3Cpath d='M21 15L28 23L21 31' stroke='%2386869A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}


.weekly-work {
    margin-top: 120px;
    background: #FF6E1D;
    max-width: 100%;
    width: 100%;
    min-height: 293px;
    overflow: hidden;
}

.weekly-work_content {
    width: max-content;
    padding: 40px;
    display: flex;
    gap: 60px;
    white-space: initial;
}

.weekly-work_header {
    width: 496px;
    color: rgba(255, 255, 255, 0.56);
    font-size: 77px;
    font-weight: 600;
    line-height: 105%;
}

.weekly-work_item {
    display: flex;
    gap: 30px;
    max-width: 501px;
}

.weekly-work_item .item-img {
    max-width: 211px;
    height: 213px;
    border-radius: 30px;
}

.weekly-work_item .item-header {
    color: #FFF;
    font-size: 51px;
    font-weight: 500;
    line-height: 110%;
}


.products_showcase {
    margin-top: 120px;
}

.products_showcase_header {
    color: #000;
    font-size: 52px;
    font-weight: 500;
    line-height: 120%;
}

.products_showcase_filter {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.products_showcase_filter_item {
    padding: 10px 18px;
    border-radius: 30px;
    background: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    cursor: pointer;
}

.products_showcase_active {
    background: #FF6E1D;
    color: #FFF;
    cursor: unset;
}

.products_showcase_swiper {
    width: 1178px;
    height: max-content;
    position: relative;
    margin-top: 30px;
}

.products_showcase_swiper_button {
    position: absolute;
    top: 0;
    margin-top: 147px;
    z-index: 999;
    width: 46px;
    height: 46px;
    cursor: pointer;
}

.products_showcase_swiper_button-prev {
    left: 8px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='46' height='46' viewBox='0 0 46 46' fill='none'%3E%3Ccircle cx='23' cy='23' r='23' transform='matrix(1 0 0 -1 0 46)' fill='white'/%3E%3Cpath d='M25 31L18 23L25 15' stroke='%23CBCBDA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.products_showcase_swiper_button-prev:hover {
    left: 8px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='46' height='46' viewBox='0 0 46 46' fill='none'%3E%3Ccircle cx='23' cy='23' r='23' transform='matrix(1 0 0 -1 0 46)' fill='white'/%3E%3Cpath d='M25 31L18 23L25 15' stroke='%2386869A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.products_showcase_swiper_button-next {
    right: 30px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='46' height='46' viewBox='0 0 46 46' fill='none'%3E%3Ccircle cx='23' cy='23' r='23' transform='matrix(-1 8.74228e-08 8.74228e-08 1 46 0)' fill='white'/%3E%3Cpath d='M21 15L28 23L21 31' stroke='%23CBCBDA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.products_showcase_swiper_button-next:hover {
    right: 30px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='46' height='46' viewBox='0 0 46 46' fill='none'%3E%3Ccircle cx='23' cy='23' r='23' transform='matrix(-1 8.74228e-08 8.74228e-08 1 46 0)' fill='white'/%3E%3Cpath d='M21 15L28 23L21 31' stroke='%2386869A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
