body {
    font-family: Manrope;
    background: #F3F3F8;
}

p {
    margin: 0;
}

a {
    text-decoration: unset;
    color: unset;
}

.container-width {
    max-width: 1180px;
    margin: auto;
}

.about-company {
    border-radius: 50px;
    background: #FFF;
    padding: 43px 30px 30px 30px;
}

.about-company_top .big-text {
    color: #292929;
    font-size: 102px;
    font-weight: 700;
    line-height: 101%;
}

.about-company_top .small-text {
    color: #B8B8D0;
    font-size: 37px;
    font-weight: 500;
    line-height: 109%;
}

.about-company_bottom {
    margin-top: 118px;
    display: flex;
    gap: 30px;
}

.about-company_bottom_image-box {
    max-width: 515px;
    position: relative;
}

.about-company_bottom_image-box .wholesale-order {
    position: absolute;
    padding: 12px;
    background: #FFF;
    border-radius: 50%;
    color: #FFF;
    top: -25%;
    left: 13%;
}

.about-company_bottom_image-box .wholesale-order:hover {
    padding: 6px;
}

.about-company_bottom_image-box .background-orange {
    width: 129px;
    height: 127px;
    background: #FF6E1D;
    border-radius: 50%;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 111.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-company_bottom_image-box .wholesale-order:hover .background-orange {
    width: 139px;
    height: 137px;
}

.about-company_bottom_image-box .wholesale-Order-img {
    width: 100%;
    border-radius: 30px;
}


.about-company_bottom_video-box {
    position: relative;
    width: 100%;
}

.about-company_bottom_video-box .video {
    position: absolute;
    border-radius: 30px;
    width: 100%;
    bottom: 0;
}


.we-work {
    color: #CBCBDA;
    text-align: center;
    font-size: 101px;
    font-weight: 700;
    line-height: 110%;
    border-radius: 50px;
    background: #FFF;
    padding: 20px 20px 40px 43px;
    margin-top: 40px;
}

.we-work span {
    color: #FF6E1D;
    font-size: 101px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -3.03px;
}


.production {
    margin-top: 40px;
}

.production_swiper {
    max-width: 1180px;
    width: 100%;
    height: 655px;
    position: relative;
}

.production_swiper:hover .production_swiper_button {
    display: block;
}

.production-item-img {
    max-width: 1180px;
    border-radius: 50px;
}

.production_swiper_button {
    width: 46px;
    height: 46px;
    position: absolute;
    top: 305px;
    z-index: 999;
    cursor: pointer;
    display: none;
}

.production_swiper_button-prev {
    left: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='46' height='46' viewBox='0 0 46 46' fill='none'%3E%3Ccircle cx='23' cy='23' r='23' transform='matrix(1 0 0 -1 0 46)' fill='white'/%3E%3Cpath d='M25 31L18 23L25 15' stroke='%23CBCBDA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.production_swiper_button-next {
    right: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='46' height='46' viewBox='0 0 46 46' fill='none'%3E%3Ccircle cx='23' cy='23' r='23' transform='matrix(-1 8.74228e-08 8.74228e-08 1 46 0)' fill='white'/%3E%3Cpath d='M21 15L28 23L21 31' stroke='%23CBCBDA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}


.weekly-work {
    margin-top: 120px;
    background: #FF6E1D;
    max-width: 100%;
    width: 100%;
    min-height: 293px;
    overflow: hidden;
}

.weekly-work_content {
    width: max-content;
    padding: 40px;
    display: flex;
    gap: 60px;
    white-space: initial;
}

.weekly-work_header {
    width: 496px;
    color: rgba(255, 255, 255, 0.56);
    font-size: 77px;
    font-weight: 600;
    line-height: 105%;
}

.weekly-work_item {
    display: flex;
    gap: 30px;
    max-width: 501px;
}

.weekly-work_item .item-img {
    max-width: 211px;
    height: 213px;
    border-radius: 30px;
}

.weekly-work_item .item-header {
    color: #FFF;
    font-size: 51px;
    font-weight: 500;
    line-height: 110%;
}

.products {
    margin-top: 120px;
}

.products_header {
    color: #000;
    font-size: 52px;
    font-weight: 500;
    line-height: 120%;
}

.products_filter {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.products_filter_item {
    padding: 10px 18px;
    border-radius: 30px;
    background: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    cursor: pointer;
}

.products_filter_item.active {
    background: #FF6E1D;
    color: #FFF;
    cursor: unset;
}

.products_showcase {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.products_showcase_item {
    display: flex;
    flex-direction: column;
    max-width: 272px;
}

.products_swiper {
    width: 1178px;
    height: 100%;
    position: relative;
}

.products_swiper_img {
    border-radius: 30px;
    width: 272px;
    height: 340px;
}

.products_swiper_button {
    position: absolute;
    top: 0;
    margin-top: 147px;
    z-index: 999;
    width: 46px;
    height: 46px;
    cursor: pointer;
}

.products_swiper_button-prev {
    left: 8px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='46' height='46' viewBox='0 0 46 46' fill='none'%3E%3Ccircle cx='23' cy='23' r='23' transform='matrix(1 0 0 -1 0 46)' fill='white'/%3E%3Cpath d='M25 31L18 23L25 15' stroke='%23CBCBDA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.products_swiper_button-next {
    right: 30px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='46' height='46' viewBox='0 0 46 46' fill='none'%3E%3Ccircle cx='23' cy='23' r='23' transform='matrix(-1 8.74228e-08 8.74228e-08 1 46 0)' fill='white'/%3E%3Cpath d='M21 15L28 23L21 31' stroke='%23CBCBDA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.products_showcase_item .descriptions {
    font-size: 16px;
    line-height: 140%;
    margin-top: 30px;
}

.products_showcase_item .price {
    font-family: Onest;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-top: 12px;
}

.products_showcase_item .button-detail {
    max-width: max-content;
    padding: 12px 29px 12px 30px;
    border-radius: 30px;
    background: #FF6E1D;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    margin-top: 12px;
}

.products_showcase_item .button-detail:hover {
    padding: 12px 35px 12px 36px;
}

.services {
    height: max-content;
    margin-top: 120px;
    padding: 45px 31px 31px 30px;
    background: #FFF;;
    border-radius: 50px;
}

.services_header {
    color: #CBCBDA;
    font-size: 77px;
    font-weight: 600;
    line-height: 105%;
}

.services_header span {
    color: #FF6E1D;
    font-size: 77px;
    font-weight: 600;
    line-height: 105%;
}

.services_item-container {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.services_item {
    width: 257px;
    padding: 30px 66px 50px 30px;
    background: #F3F3F8;
    position: relative;
    font-size: 28px;
    line-height: 130%;
}

.services_item:hover {
    background: #FF6E1D;
    color: #F3F3F8;
}

.services_item_wrapper-svg {
    padding: 0 8px 20px 20px;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    border-bottom-left-radius: 60px;
}

.services_item_svg {

}

.item-svg-1 {
    width: 53px;
    height: 48px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='54' height='49' viewBox='0 0 54 49' fill='none'%3E%3Cpath d='M25.8407 11.5415C26.1422 10.6246 27.4392 10.6246 27.7407 11.5415L29.0151 15.418C29.4199 16.649 30.5692 17.481 31.8651 17.481H35.9387C36.9103 17.481 37.3112 18.7266 36.522 19.2933L33.267 21.6305C32.2031 22.3944 31.7578 23.7601 32.1668 25.0043L33.4197 28.815C33.7219 29.7342 32.6724 30.504 31.8864 29.9396L28.5405 27.5371C27.4948 26.7862 26.0866 26.7862 25.0409 27.5371L21.695 29.9396C20.909 30.504 19.8595 29.7342 20.1618 28.815L21.4146 25.0043C21.8236 23.7601 21.3783 22.3944 20.3144 21.6305L17.0594 19.2933C16.2702 18.7266 16.6711 17.481 17.6427 17.481H21.7164C23.0122 17.481 24.1616 16.649 24.5663 15.418L25.8407 11.5415Z' stroke='%23FF6E1D' stroke-width='2'/%3E%3Cpath d='M24.838 2.99165C25.9616 2.02823 27.6199 2.02823 28.7435 2.99165L29.3884 3.54456C30.5435 4.53506 32.0869 4.9456 33.5816 4.65995L34.4242 4.49892C35.8844 4.21984 37.3288 5.05235 37.8193 6.4558L38.7633 6.12587L37.8193 6.45581L38.0752 7.18796C38.5819 8.63765 39.7266 9.7741 41.18 10.2702L41.9296 10.5261C43.3492 11.0107 44.1927 12.4693 43.9046 13.9414L43.7684 14.6377C43.4708 16.1587 43.8953 17.7317 44.9178 18.8965L45.3913 19.4358C46.3853 20.5681 46.3853 22.2619 45.3913 23.3942L44.9178 23.9335C43.8953 25.0983 43.4708 26.6713 43.7684 28.1923L43.9046 28.8887C44.1927 30.3607 43.3492 31.8193 41.9296 32.3039L41.18 32.5598C39.7266 33.0559 38.5819 34.1924 38.0752 35.642L37.8193 36.3742C37.3288 37.7777 35.8844 38.6102 34.4242 38.3311L33.5816 38.1701C32.0869 37.8844 30.5435 38.2949 29.3884 39.2854L28.7435 39.8384C27.6199 40.8018 25.9616 40.8018 24.838 39.8384L24.1931 39.2854C23.038 38.2949 21.4946 37.8844 19.9999 38.1701L19.1573 38.3311C17.6971 38.6102 16.2527 37.7777 15.7622 36.3742L15.5063 35.6421C14.9996 34.1924 13.8549 33.0559 12.4015 32.5598L12.0785 33.5062L12.4015 32.5598L11.6519 32.3039C10.2323 31.8193 9.38882 30.3607 9.67686 28.8887L9.81311 28.1923C10.1107 26.6713 9.68617 25.0983 8.66369 23.9335L8.1902 23.3942C7.19622 22.2619 7.19622 20.5681 8.1902 19.4358L8.66369 18.8965C9.68617 17.7317 10.1107 16.1587 9.81311 14.6377L9.67686 13.9414C9.38882 12.4693 10.2323 11.0107 11.6519 10.5261L12.4015 10.2702C13.8549 9.7741 14.9996 8.63765 15.5063 7.18796L15.7622 6.4558C16.2527 5.05235 17.6971 4.21984 19.1573 4.49892L19.9999 4.65995C21.4946 4.9456 23.038 4.53506 24.1931 3.54456L24.838 2.99165Z' stroke='%23FF6E1D' stroke-width='2'/%3E%3Cpath d='M9.45542 31.1494L1.73153 38.7829C1.09584 39.4111 1.54071 40.4941 2.43446 40.4941H9.70498C10.1682 40.4941 10.5707 40.8122 10.6779 41.2628L11.9703 46.6983C12.148 47.4456 13.0669 47.7218 13.6272 47.1964L22.8506 38.5473' stroke='%23FF6E1D' stroke-width='2'/%3E%3Cpath d='M44.1305 31.3359L51.8544 38.9694C52.4901 39.5977 52.0452 40.6807 51.1515 40.6807H43.881C43.4178 40.6807 43.0152 40.9987 42.9081 41.4493L41.6157 46.8848C41.438 47.6321 40.5191 47.9084 39.9588 47.3829L30.7353 38.7338' stroke='%23FF6E1D' stroke-width='2'/%3E%3C/svg%3E");
}

.item-svg-2 {
    width: 53px;
    height: 50px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='53' height='50' viewBox='0 0 53 50' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.4463 0C20.2062 0 19.9742 0.0863608 19.7925 0.243308C19.2881 0.679101 18.5299 1.37121 17.8903 2.03741C17.7878 2.14425 17.6862 2.2525 17.5879 2.36073C15.937 3.02796 13.5893 4.00275 11.5747 4.89548C10.5101 5.36722 9.52583 5.82164 8.78341 6.1985C8.41441 6.38581 8.08735 6.5629 7.83454 6.71972C7.70938 6.79735 7.58368 6.88148 7.47403 6.96923C7.39777 7.03025 7.2024 7.18882 7.07922 7.43208C7.07311 7.44414 7.06727 7.45621 7.06169 7.46828L0.0990152 21.942C-0.129416 22.4169 0.0498295 22.9875 0.508758 23.2465L10.2735 28.7561V47.5511C10.2735 48.0352 10.6203 48.4498 11.0968 48.5354C13.8142 49.0232 20.6552 50.0003 26.3167 50.0003C26.4283 50.0003 26.5356 49.982 26.6358 49.9483C26.6516 49.949 26.6676 49.9494 26.6837 49.9494C32.3451 49.9494 39.1862 48.9724 41.9035 48.4845C42.38 48.399 42.7268 47.9844 42.7268 47.5003V28.756L52.4915 23.2465C52.9504 22.9875 53.1297 22.4169 52.9013 21.942L45.94 7.47124C45.934 7.45819 45.9277 7.44513 45.9211 7.43208C45.7979 7.18882 45.6026 7.03025 45.5263 6.96923C45.4167 6.88148 45.291 6.79735 45.1658 6.71972C44.913 6.5629 44.5859 6.38581 44.2169 6.1985C43.4745 5.82164 42.4902 5.36722 41.4256 4.89548C39.411 4.00276 37.0634 3.02798 35.4125 2.36075C35.3141 2.25252 35.2126 2.14426 35.11 2.03741C34.4705 1.37121 33.7123 0.679101 33.2079 0.243308C33.0262 0.0863608 32.7942 0 32.5541 0H26.6837H26.3167H20.4463ZM45.2825 10.7179C45.0288 11.3736 44.7338 12.0912 44.438 12.7983C44.2653 13.2112 44.093 13.619 43.927 14.0117L43.9264 14.0131C43.668 14.6246 43.425 15.1996 43.2199 15.7008C43.0521 16.1107 42.9172 16.4532 42.8255 16.71C42.7793 16.8392 42.7487 16.9337 42.7309 16.9974L42.7268 17.0124V22.6367L49.5341 19.556L45.2825 10.7179ZM42.7268 26.4597V24.832L50.4013 21.3588L50.6929 21.9649L42.7268 26.4597ZM40.7268 24.1737V16.941C40.7268 16.7451 40.7778 16.5554 40.8049 16.4584C40.8407 16.3306 40.8886 16.1867 40.9421 16.0371C41.0495 15.7363 41.1984 15.3598 41.3689 14.9433C41.5771 14.4345 41.8288 13.8387 42.0915 13.2172L42.0919 13.2163C42.2573 12.8249 42.427 12.4232 42.5929 12.0265C43.0286 10.9851 43.443 9.96658 43.7251 9.16929C43.8432 8.83528 43.9315 8.55851 43.9882 8.34525C43.8158 8.2447 43.5893 8.12286 43.3117 7.98189C42.6163 7.6289 41.6697 7.19118 40.6154 6.724C39.2671 6.12655 37.7634 5.49004 36.4244 4.93575C36.3966 5.14455 36.3603 5.39604 36.3177 5.67877C36.2172 6.34525 36.0787 7.20449 35.9255 8.1285C35.619 9.97754 35.2515 12.1004 35.0066 13.4912C34.9521 13.8004 34.7557 14.066 34.4761 14.2086C34.1965 14.3512 33.8661 14.3543 33.5839 14.2169L28.5332 11.7574L27.3168 14.2714V20.2013C27.3168 20.7535 26.8691 21.2013 26.3168 21.2013H26.3167H26.3167C25.7644 21.2013 25.3167 20.7535 25.3167 20.2013V14.2569L24.2044 11.7856L19.4314 14.2094C19.1489 14.3529 18.8152 14.354 18.5317 14.2124C18.2483 14.0708 18.0488 13.8033 17.9938 13.4912C17.7488 12.1004 17.3813 9.97754 17.0748 8.1285C16.9217 7.20449 16.7832 6.34525 16.6827 5.67877C16.6401 5.39603 16.6038 5.14454 16.576 4.93574C15.2369 5.49003 13.7332 6.12654 12.3849 6.724C11.3307 7.19118 10.3841 7.6289 9.68868 7.98189C9.41099 8.12286 9.18451 8.2447 9.01216 8.34525C9.06884 8.55851 9.15712 8.83528 9.27528 9.16929C9.55734 9.96658 9.97176 10.9851 10.4074 12.0265C10.5732 12.423 10.7429 12.8244 10.9082 13.2156L10.9084 13.2163L10.9085 13.2163L10.9085 13.2164C11.1713 13.8382 11.4231 14.4342 11.6315 14.9433C11.8019 15.3598 11.9508 15.7363 12.0583 16.0371C12.1117 16.1867 12.1596 16.3306 12.1954 16.4584C12.2226 16.5554 12.2735 16.7451 12.2735 16.941V24.1799L12.2735 24.187V28.1721L12.2735 28.1792V46.7081C15.3246 47.2109 21.3237 48.0003 26.3167 48.0003C26.3328 48.0003 26.3487 48.0006 26.3646 48.0014C26.4648 47.9677 26.5721 47.9494 26.6837 47.9494C31.6766 47.9494 37.6757 47.1601 40.7268 46.6572V28.1854C40.7268 28.181 40.7267 28.1766 40.7267 28.1721V24.187C40.7267 24.1825 40.7268 24.1781 40.7268 24.1737ZM3.4662 19.556L7.71785 10.7179C7.97152 11.3736 8.26652 12.0912 8.56232 12.7983C8.73521 13.2116 8.90771 13.6198 9.07384 14.0129L9.07392 14.0131C9.33234 14.6246 9.57535 15.1996 9.78047 15.7008C9.94824 16.1107 10.0831 16.4532 10.1749 16.71C10.221 16.8392 10.2516 16.9337 10.2694 16.9974L10.2735 17.0124V22.6368L3.4662 19.556ZM2.59896 21.3588L10.2735 24.832V26.4597L2.30739 21.9649L2.59896 21.3588ZM33.8689 3.63659C33.9428 3.77841 34.0508 3.9031 34.1871 3.99705C34.2544 4.07757 34.3144 4.15313 34.3663 4.22282C34.4157 4.28912 34.4519 4.34237 34.4774 4.38309C34.4722 4.43097 34.4648 4.49428 34.4544 4.57547C34.4281 4.78146 34.3892 5.05412 34.34 5.38069C34.2417 6.03279 34.105 6.88083 33.9524 7.80146C33.7324 9.12904 33.4805 10.6 33.2655 11.8373L29.4043 9.95712L32.4758 3.60929C32.4799 3.60097 32.4838 3.5926 32.4876 3.58417L32.9015 2.66462C33.1612 2.91089 33.425 3.17016 33.6672 3.42244C33.7375 3.49567 33.8049 3.56718 33.8689 3.63659ZM19.1313 3.63667C19.0575 3.77843 18.9495 3.90307 18.8133 3.99699C18.746 4.07754 18.686 4.15311 18.634 4.22282C18.5846 4.28912 18.5485 4.34237 18.5229 4.38309C18.5282 4.43097 18.5356 4.49428 18.5459 4.57547C18.5723 4.78146 18.6111 5.05412 18.6604 5.38069C18.7587 6.03279 18.8953 6.88083 19.0479 7.80146C19.2666 9.12081 19.5168 10.5818 19.7309 11.8142L23.3826 9.95987L20.0989 2.66462C19.8392 2.91089 19.5753 3.17016 19.3331 3.42244C19.2628 3.4957 19.1954 3.56724 19.1313 3.63667ZM26.3167 2H21.993L22.0712 2.17373H26.3167H26.6837H30.9292L31.0074 2H26.6837H26.3167ZM26.3167 4.17373H22.9714L26.3495 11.6787L29.9809 4.17373H26.6837H26.3167ZM18.4805 4.45753C18.4764 4.46617 18.4748 4.47027 18.4751 4.47016C18.4753 4.47011 18.4759 4.469 18.4768 4.46686L18.4785 4.46292L18.4805 4.45753ZM34.5252 4.47016C34.5255 4.47027 34.524 4.46617 34.5198 4.45753C34.5229 4.46573 34.525 4.47005 34.5252 4.47016ZM29.3808 16.2793C29.3808 16.7146 29.0235 17.0675 28.5826 17.0675C28.1418 17.0675 27.7845 16.7146 27.7845 16.2793C27.7845 15.8441 28.1418 15.4912 28.5826 15.4912C29.0235 15.4912 29.3808 15.8441 29.3808 16.2793ZM28.5826 19.9659C29.0234 19.9659 29.3808 19.6131 29.3808 19.1778C29.3808 18.7425 29.0234 18.3896 28.5826 18.3896C28.1418 18.3896 27.7844 18.7425 27.7844 19.1778C27.7844 19.6131 28.1418 19.9659 28.5826 19.9659Z' fill='%23FF6E1D'/%3E%3C/svg%3E");
}

.item-svg-3 {
    width: 45px;
    height: 52px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45' height='52' viewBox='0 0 45 52' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M31.0434 2H13.6385C13.0862 2 12.6385 2.44772 12.6385 3V20.2049C12.6385 20.7572 13.0862 21.2049 13.6385 21.2049H31.0434C31.5957 21.2049 32.0434 20.7572 32.0434 20.2049V3C32.0434 2.44771 31.5957 2 31.0434 2ZM13.6385 0C11.9816 0 10.6385 1.34315 10.6385 3V20.2049C10.6385 20.9472 10.9081 21.6265 11.3546 22.1502H3C1.34315 22.1502 0 23.4934 0 25.1502V42.3551C0 44.012 1.34314 45.3551 3 45.3551H20.4049C21.1428 45.3551 21.8186 45.0887 22.3411 44.6468C22.8636 45.0888 23.5394 45.3553 24.2775 45.3553H41.6824C43.3392 45.3553 44.6824 44.0121 44.6824 42.3553V25.1504C44.6824 23.4935 43.3392 22.1504 41.6824 22.1504H33.3271C33.7738 21.6266 34.0434 20.9472 34.0434 20.2049V3C34.0434 1.34315 32.7002 0 31.0434 0H13.6385ZM23.3743 42.7851C23.3945 42.6447 23.4049 42.5011 23.4049 42.3551V25.1502C23.4049 25.0043 23.3945 24.8608 23.3743 24.7205C23.5351 24.3834 23.8791 24.1504 24.2775 24.1504H41.6824C42.2347 24.1504 42.6824 24.5981 42.6824 25.1504V42.3553C42.6824 42.9076 42.2347 43.3553 41.6824 43.3553H24.2775C23.8791 43.3553 23.5351 43.1223 23.3743 42.7851ZM21.3081 24.7204C21.1473 24.3832 20.8033 24.1502 20.4049 24.1502H16.4022C16.3782 24.6812 15.9401 25.1042 15.4032 25.1042H8.46675C7.92989 25.1042 7.49183 24.6812 7.46779 24.1502H3C2.44772 24.1502 2 24.5979 2 25.1502V42.3551C2 42.9074 2.44772 43.3551 3 43.3551H20.4049C20.8033 43.3551 21.1473 43.1222 21.308 42.785C21.2879 42.6447 21.2775 42.5012 21.2775 42.3553V25.1504C21.2775 25.0044 21.2879 24.8608 21.3081 24.7204ZM7.76464 51.1037V51.4623C7.76464 51.7594 7.28833 52.0002 6.70077 52.0002H1.38144C0.793877 52.0002 0.317567 51.7594 0.317567 51.4623V49.8485C0.317567 49.5514 0.793877 49.3105 1.38143 49.3105H43.9361C44.5237 49.3105 45 49.5514 45 49.8485V51.4623C45 51.7594 44.5237 52.0002 43.9361 52.0002H38.6168C38.0292 52.0002 37.5529 51.7594 37.5529 51.4623V51.1037H7.76464Z' fill='%23FF6E1D'/%3E%3Cmask id='path-2-inside-1_785_1940' fill='white'%3E%3Crect x='18.1904' width='8.93649' height='2.68968' rx='1'/%3E%3C/mask%3E%3Crect x='18.1904' width='8.93649' height='2.68968' rx='1' fill='%23FF6E1D' stroke='%23FF6E1D' stroke-width='2.68968' mask='url(%23path-2-inside-1_785_1940)'/%3E%3Cmask id='path-3-inside-2_785_1940' fill='white'%3E%3Crect x='28.915' y='22.4141' width='8.93649' height='2.68968' rx='1'/%3E%3C/mask%3E%3Crect x='28.915' y='22.4141' width='8.93649' height='2.68968' rx='1' fill='%23FF6E1D' stroke='%23FF6E1D' stroke-width='2.68968' mask='url(%23path-3-inside-2_785_1940)'/%3E%3C/svg%3E");
}


.technologies {
    margin-top: 130px;
}

.reviews_swiper {
    width: 1120px;
    height: 100%;
}

.technologies_header {
    font-size: 52px;
    font-weight: 500;
    line-height: 120%;
}

.technologies_items-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.technologies_item {
    padding: 30px;
    border-radius: 50px;
    background: #FFF;
}

.technologies_item_img {
    width: 515px;
    height: 298px;
    border-radius: 30px;
}

.technologies_item_footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.technologies_item_footer .descriptions {
    max-width: 272px;
    font-size: 28px;
    line-height: 130%
}

.technologies_item_footer .detail {
    width: max-content;
    height: max-content;
    padding: 12px 29px 12px 30px;
    border-radius: 30px;
    background: #FF6E1D;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
}

.technologies_item_footer .detail:hover {
    padding: 12px 35px 12px 36px;
}


.guarantee {
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.guarantee_header {
    color: #C4C4CF;
    font-size: 77px;
    font-weight: 600;
    line-height: 105%;
}

.guarantee_footer_item-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: end;
}

.guarantee_item {
    width: 272px;
    height: 156px;
    border-radius: 30px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.guarantee_img {
    width: 190px;
    height: 87px;
}


.reviews {
    margin-top: 120px;
}

.reviews_header {
    font-size: 52px;
    font-weight: 500;
    line-height: 120%;
}

.reviews_button {
    display: flex;
    flex-shrink: 0;
    background: #FFF;
    border-radius: 50px;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.reviews_button:after {
    content: '';
    display: block;
    width: 9px;
    height: 18px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='18' viewBox='0 0 9 18' fill='none'%3E%3Cpath d='M1 1L8 9L1 17' stroke='%23CBCBDA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.reviews_button_svg {
    color: #86869A;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    gap: 12px;
    align-items: center;
}

.reviews_button_svg:before {
    content: '';
    width: 105px;
    height: 35px;
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='105' height='35' viewBox='0 0 105 35' fill='none'%3E%3Cg clip-path='url(%23clip0_785_140)'%3E%3Cpath d='M-0.0336884 0H105V35H-0.0546875L-0.0249378 34.9633C-0.0158468 34.952 -0.0109047 34.9377 -0.0109375 34.923L-0.0336884 0ZM39.3728 8.82525C39.3728 8.80576 39.3651 8.78706 39.3513 8.77328C39.3375 8.75949 39.3188 8.75175 39.2993 8.75175H35.0293C35.0197 8.75175 35.0101 8.75365 35.0012 8.75735C34.9923 8.76104 34.9842 8.76645 34.9773 8.77328C34.9705 8.7801 34.9651 8.78821 34.9614 8.79712C34.9577 8.80604 34.9558 8.8156 34.9558 8.82525V24.9953C34.9558 25.0049 34.9577 25.0145 34.9614 25.0234C34.9651 25.0323 34.9705 25.0404 34.9773 25.0472C34.9842 25.054 34.9923 25.0595 35.0012 25.0632C35.0101 25.0669 35.0197 25.0688 35.0293 25.0688H39.2993C39.3188 25.0688 39.3375 25.061 39.3513 25.0472C39.3651 25.0334 39.3728 25.0147 39.3728 24.9953V8.82525ZM21.1746 12.831V25.0688C21.1746 25.1036 21.1884 25.1369 21.213 25.1616C21.2376 25.1862 21.271 25.2 21.3058 25.2H25.3921C25.4106 25.2 25.4284 25.1924 25.4416 25.179C25.4547 25.1655 25.4621 25.1473 25.4621 25.1283V19.845C25.4621 19.8264 25.4696 19.8086 25.4831 19.7955C25.4965 19.7824 25.5148 19.775 25.5338 19.775H31.6081C31.6373 19.775 31.6653 19.7636 31.686 19.7432C31.7067 19.7229 31.7183 19.6953 31.7183 19.6665V15.9688C31.7183 15.9455 31.7091 15.9233 31.6927 15.9069C31.6763 15.8905 31.654 15.8813 31.6308 15.8813H25.5496C25.5264 15.8813 25.5041 15.872 25.4877 15.8556C25.4713 15.8392 25.4621 15.817 25.4621 15.7938L25.4638 12.9325C25.4638 12.9139 25.4712 12.8961 25.4843 12.883C25.4974 12.8699 25.5153 12.8625 25.5338 12.8625H33.4683C33.4915 12.8625 33.5138 12.8533 33.5302 12.8369C33.5466 12.8205 33.5558 12.7982 33.5558 12.775V8.97575C33.5558 8.95208 33.5464 8.92938 33.5297 8.91264C33.5129 8.8959 33.4902 8.8865 33.4666 8.8865C29.0659 8.876 24.6652 8.87658 20.2646 8.88825C19.2787 8.89058 18.556 8.94892 18.0963 9.06325C12.7361 10.4003 12.8533 17.6383 18.0316 19.1188C18.0633 19.1274 18.0973 19.1233 18.1261 19.1073C18.1548 19.0913 18.1762 19.0646 18.1856 19.033L19.2023 15.533C19.2093 15.5084 19.208 15.4822 19.1985 15.4584C19.189 15.4347 19.1719 15.4147 19.1498 15.4018C17.7621 14.5985 18.0036 12.8485 19.6556 12.7453C20.0534 12.7208 20.5306 12.7184 21.0871 12.7383C21.1106 12.7392 21.1329 12.7493 21.1492 12.7666C21.1655 12.7839 21.1746 12.807 21.1746 12.831ZM58.1066 14.4323L58.0961 13.0795C58.0961 13.0452 58.0824 13.0122 58.0581 12.9879C58.0338 12.9636 58.0009 12.95 57.9666 12.95H54.1621C54.1389 12.95 54.1166 12.9592 54.1002 12.9756C54.0838 12.992 54.0746 13.0143 54.0746 13.0375V24.9813C54.0746 25.0045 54.0838 25.0267 54.1002 25.0431C54.1166 25.0595 54.1389 25.0688 54.1621 25.0688H58.1451C58.1574 25.0688 58.1696 25.0663 58.181 25.0615C58.1923 25.0568 58.2026 25.0498 58.2113 25.041C58.2199 25.0322 58.2267 25.0217 58.2313 25.0103C58.2358 24.9988 58.238 24.9866 58.2378 24.9743C58.218 22.7564 58.2197 20.5392 58.2431 18.3225C58.2553 17.1115 59.1636 15.8743 60.4621 16.3118C61.4736 16.6513 61.5208 17.9375 61.5156 18.7285C61.5039 20.8028 61.5074 22.8859 61.5261 24.9778C61.5261 25.0019 61.5357 25.025 61.5527 25.0421C61.5698 25.0592 61.5929 25.0688 61.6171 25.0688H65.4828C65.5213 25.0688 65.5583 25.0534 65.5855 25.0262C65.6128 24.999 65.6281 24.962 65.6281 24.9235C65.6199 22.869 65.6321 20.8215 65.6648 18.781C65.6858 17.4458 65.9361 15.9968 67.7001 16.2873C68.6696 16.4465 68.7746 17.5035 68.7728 18.3313C68.7728 20.5456 68.774 22.7617 68.7763 24.9795C68.7763 25.0032 68.7857 25.0259 68.8025 25.0426C68.8192 25.0593 68.8419 25.0688 68.8656 25.0688H72.8503C72.8707 25.0688 72.8903 25.0606 72.9048 25.0462C72.9192 25.0318 72.9273 25.0122 72.9273 24.9918C72.9366 22.3609 72.925 19.7365 72.8923 17.1185C72.8661 15.127 71.9736 13.335 69.9803 12.8503C68.0641 12.383 66.1443 12.7733 65.0698 14.5548C65.0649 14.5631 65.0581 14.5702 65.0499 14.5753C65.0417 14.5804 65.0323 14.5834 65.0227 14.5841C65.013 14.5848 65.0033 14.5831 64.9945 14.5792C64.9856 14.5753 64.9778 14.5693 64.9718 14.5618C64.8505 14.4031 64.7332 14.2415 64.6201 14.077C63.1116 11.8965 59.5136 12.264 58.1888 14.455C58.1352 14.5448 58.1077 14.5373 58.1066 14.4323ZM78.4853 14.343L78.4871 13.0375C78.4873 13.0261 78.4852 13.0148 78.4809 13.0042C78.4766 12.9936 78.4702 12.9839 78.4621 12.9757C78.4539 12.9676 78.4442 12.9611 78.4335 12.9567C78.4227 12.9523 78.4112 12.95 78.3996 12.95H74.5933C74.5701 12.95 74.5479 12.9592 74.5314 12.9756C74.515 12.992 74.5058 13.0143 74.5058 13.0375V29.6188C74.5058 29.642 74.515 29.6642 74.5314 29.6806C74.5479 29.697 74.5701 29.7063 74.5933 29.7063H78.5308C78.554 29.7063 78.5763 29.697 78.5927 29.6806C78.6091 29.6642 78.6183 29.642 78.6183 29.6188V23.9803C78.6183 23.9161 78.6411 23.9068 78.6866 23.9523C79.6211 24.8938 80.7807 25.3628 82.1656 25.3593C84.4441 25.3523 86.0033 24.136 86.7716 22.0483C87.9458 18.8545 87.3141 13.671 83.3941 12.7768C81.4107 12.3253 79.7955 12.8549 78.5483 14.3658C78.5063 14.4171 78.4853 14.4095 78.4853 14.343ZM48.6513 24.0713L48.6496 24.9585C48.6496 24.9877 48.661 25.0158 48.6813 25.0365C48.7017 25.0571 48.7293 25.0688 48.7581 25.0688H52.2878C52.3092 25.0688 52.3296 25.0605 52.3447 25.0457C52.3598 25.0309 52.3683 25.0109 52.3683 24.99C52.3695 22.7465 52.3689 20.5071 52.3666 18.2718C52.3654 17.1448 52.2791 16.3263 52.1076 15.8165C51.1416 12.9483 47.7413 12.3813 45.1041 12.8958C43.1336 13.2808 41.5341 14.4778 41.3328 16.6023C41.3316 16.6163 41.3333 16.6305 41.3377 16.6438C41.3422 16.6572 41.3493 16.6694 41.3587 16.6798C41.3681 16.6902 41.3795 16.6985 41.3923 16.7041C41.405 16.7097 41.4187 16.7126 41.4326 16.7125H44.9956C45.0189 16.7125 45.0416 16.7043 45.0598 16.6894C45.0779 16.6744 45.0905 16.6535 45.0953 16.6303C45.2831 15.7506 45.8542 15.3143 46.8086 15.3213C47.9443 15.3283 48.3608 16.058 48.3818 17.0975C48.3824 17.1319 48.3758 17.166 48.3625 17.1977C48.3492 17.2294 48.3294 17.2581 48.3044 17.2819C48.2795 17.3057 48.2499 17.3241 48.2174 17.3361C48.185 17.348 48.1504 17.3532 48.1158 17.3513C46.4726 17.2585 44.3743 17.2428 43.0163 17.9218C40.9531 18.9543 40.2076 21.3903 41.2856 23.4168C42.6768 26.0348 46.6668 26.0225 48.5831 24.0433C48.6286 23.9966 48.6513 24.0059 48.6513 24.0713Z' fill='%232E6AE4'/%3E%3Cpath d='M80.281 21.9797C77.3077 21.313 77.9395 15.0147 81.5147 16.105C84.1432 16.9047 83.6952 22.7462 80.281 21.9797Z' fill='%232E6AE4'/%3E%3Cpath d='M44.9642 20.5078C45.6274 19.5436 47.2549 19.7571 48.2892 19.7798C48.3146 19.7803 48.3388 19.7905 48.3568 19.8085C48.3747 19.8264 48.385 19.8507 48.3854 19.8761C48.5307 23.8906 43.5974 22.4923 44.9642 20.5078Z' fill='%232E6AE4'/%3E%3Cpath d='M39.2996 8.75195H35.0296C34.989 8.75195 34.9561 8.78486 34.9561 8.82545V24.9955C34.9561 25.036 34.989 25.069 35.0296 25.069H39.2996C39.3401 25.069 39.3731 25.036 39.3731 24.9955V8.82545C39.3731 8.78486 39.3401 8.75195 39.2996 8.75195Z' fill='%23EFF0F2'/%3E%3Cpath d='M21.0874 12.7381C20.5309 12.7183 20.0537 12.7206 19.6559 12.7451C18.0039 12.8484 17.7624 14.5984 19.1501 15.4016C19.1722 15.4146 19.1893 15.4345 19.1988 15.4583C19.2083 15.482 19.2097 15.5083 19.2026 15.5329L18.1859 19.0329C18.1765 19.0645 18.1552 19.0911 18.1264 19.1072C18.0976 19.1232 18.0637 19.1273 18.0319 19.1186C12.8536 17.6381 12.7364 10.4001 18.0966 9.06312C18.5563 8.94878 19.2791 8.89045 20.2649 8.88812C24.6656 8.87645 29.0662 8.87587 33.4669 8.88637C33.4906 8.88637 33.5133 8.89577 33.53 8.91251C33.5467 8.92925 33.5561 8.95195 33.5561 8.97562V12.7749C33.5561 12.7981 33.5469 12.8203 33.5305 12.8367C33.5141 12.8531 33.4918 12.8624 33.4686 12.8624H25.5341C25.5156 12.8624 25.4978 12.8697 25.4846 12.8829C25.4715 12.896 25.4641 12.9138 25.4641 12.9324L25.4624 15.7936C25.4624 15.8168 25.4716 15.8391 25.488 15.8555C25.5044 15.8719 25.5267 15.8811 25.5499 15.8811H31.6311C31.6543 15.8811 31.6766 15.8903 31.693 15.9067C31.7094 15.9232 31.7186 15.9454 31.7186 15.9686V19.6664C31.7186 19.6951 31.707 19.7227 31.6864 19.7431C31.6657 19.7634 31.6376 19.7749 31.6084 19.7749H25.5341C25.5151 19.7749 25.4969 19.7822 25.4834 19.7954C25.47 19.8085 25.4624 19.8263 25.4624 19.8449V25.1281C25.4624 25.1471 25.455 25.1654 25.4419 25.1789C25.4288 25.1923 25.411 25.1999 25.3924 25.1999H21.3061C21.2713 25.1999 21.2379 25.186 21.2133 25.1614C21.1887 25.1368 21.1749 25.1034 21.1749 25.0686V12.8309C21.1749 12.8069 21.1658 12.7838 21.1495 12.7665C21.1332 12.7492 21.1109 12.739 21.0874 12.7381Z' fill='%23EFF0F2'/%3E%3Cpath d='M58.1894 14.4554C59.5142 12.2644 63.1122 11.8969 64.6207 14.0774C64.7339 14.2419 64.8511 14.4035 64.9724 14.5622C64.9785 14.5697 64.9862 14.5757 64.9951 14.5796C65.004 14.5835 65.0136 14.5852 65.0233 14.5845C65.0329 14.5838 65.0423 14.5808 65.0505 14.5757C65.0587 14.5706 65.0656 14.5635 65.0704 14.5552C66.1449 12.7737 68.0647 12.3834 69.9809 12.8507C71.9742 13.3354 72.8667 15.1274 72.893 17.1189C72.9256 19.7369 72.9373 22.3613 72.9279 24.9922C72.9279 25.0126 72.9198 25.0322 72.9054 25.0466C72.891 25.061 72.8714 25.0692 72.8509 25.0692H68.8662C68.8425 25.0692 68.8198 25.0598 68.8031 25.043C68.7863 25.0263 68.7769 25.0036 68.7769 24.9799C68.7746 22.7621 68.7734 20.546 68.7734 18.3317C68.7752 17.5039 68.6702 16.4469 67.7007 16.2877C65.9367 15.9972 65.6864 17.4462 65.6654 18.7814C65.6328 20.8219 65.6205 22.8694 65.6287 24.9239C65.6287 24.9624 65.6134 24.9994 65.5862 25.0266C65.5589 25.0539 65.522 25.0692 65.4834 25.0692H61.6177C61.5936 25.0692 61.5704 25.0596 61.5533 25.0425C61.5363 25.0254 61.5267 25.0023 61.5267 24.9782C61.508 22.8863 61.5045 20.8032 61.5162 18.7289C61.5214 17.9379 61.4742 16.6517 60.4627 16.3122C59.1642 15.8747 58.2559 17.1119 58.2437 18.3229C58.2204 20.5396 58.2186 22.7568 58.2384 24.9747C58.2387 24.987 58.2365 24.9992 58.2319 25.0107C58.2273 25.0221 58.2205 25.0326 58.2119 25.0414C58.2033 25.0502 58.193 25.0572 58.1816 25.0619C58.1702 25.0667 58.158 25.0692 58.1457 25.0692H54.1627C54.1395 25.0692 54.1172 25.0599 54.1008 25.0435C54.0844 25.0271 54.0752 25.0049 54.0752 24.9817V13.0379C54.0752 13.0147 54.0844 12.9924 54.1008 12.976C54.1172 12.9596 54.1395 12.9504 54.1627 12.9504H57.9672C58.0015 12.9504 58.0345 12.9641 58.0588 12.9883C58.083 13.0126 58.0967 13.0456 58.0967 13.0799L58.1072 14.4327C58.1084 14.5377 58.1358 14.5452 58.1894 14.4554Z' fill='%23EFF0F2'/%3E%3Cpath d='M78.5484 14.3659C79.7955 12.8551 81.4108 12.3254 83.3941 12.7769C87.3141 13.6712 87.9459 18.8547 86.7716 22.0484C86.0034 24.1362 84.4441 25.3524 82.1656 25.3594C80.7808 25.3629 79.6211 24.8939 78.6866 23.9524C78.6411 23.9069 78.6184 23.9163 78.6184 23.9804V29.6189C78.6184 29.6421 78.6091 29.6644 78.5927 29.6808C78.5763 29.6972 78.5541 29.7064 78.5309 29.7064H74.5934C74.5702 29.7064 74.5479 29.6972 74.5315 29.6808C74.5151 29.6644 74.5059 29.6421 74.5059 29.6189V13.0377C74.5059 13.0145 74.5151 12.9922 74.5315 12.9758C74.5479 12.9594 74.5702 12.9502 74.5934 12.9502H78.3996C78.4112 12.9502 78.4228 12.9524 78.4335 12.9569C78.4442 12.9613 78.454 12.9678 78.4621 12.9759C78.4703 12.9841 78.4767 12.9937 78.481 13.0043C78.4853 13.0149 78.4873 13.0263 78.4871 13.0377L78.4854 14.3432C78.4854 14.4097 78.5064 14.4173 78.5484 14.3659ZM81.5146 16.1054C77.9394 15.0152 77.3076 21.3134 80.2809 21.9802C83.6951 22.7467 84.1431 16.9052 81.5146 16.1054Z' fill='%23EFF0F2'/%3E%3Cpath d='M48.5833 24.0438C46.6671 26.0231 42.6771 26.0353 41.2858 23.4173C40.2078 21.3908 40.9533 18.9548 43.0166 17.9223C44.3746 17.2433 46.4728 17.2591 48.1161 17.3518C48.1507 17.3538 48.1852 17.3486 48.2177 17.3367C48.2501 17.3247 48.2798 17.3063 48.3047 17.2825C48.3297 17.2587 48.3494 17.23 48.3627 17.1983C48.3761 17.1666 48.3826 17.1325 48.3821 17.0981C48.3611 16.0586 47.9446 15.3288 46.8088 15.3218C45.8545 15.3148 45.2834 15.7512 45.0956 16.6308C45.0908 16.6541 45.0782 16.675 45.06 16.69C45.0419 16.7049 45.0192 16.7131 44.9958 16.7131H41.4328C41.419 16.7132 41.4052 16.7103 41.3925 16.7047C41.3798 16.699 41.3684 16.6908 41.359 16.6804C41.3496 16.67 41.3425 16.6578 41.338 16.6444C41.3335 16.6311 41.3319 16.6169 41.3331 16.6028C41.5343 14.4783 43.1338 13.2813 45.1043 12.8963C47.7416 12.3818 51.1418 12.9488 52.1078 15.8171C52.2793 16.3269 52.3657 17.1453 52.3668 18.2723C52.3692 20.5077 52.3698 22.7471 52.3686 24.9906C52.3686 25.0115 52.3601 25.0315 52.345 25.0463C52.3299 25.061 52.3094 25.0693 52.2881 25.0693H48.7583C48.7296 25.0693 48.702 25.0577 48.6816 25.0371C48.6613 25.0164 48.6498 24.9883 48.6498 24.9591L48.6516 24.0718C48.6516 24.0065 48.6288 23.9972 48.5833 24.0438ZM44.9643 20.5088C43.5976 22.4933 48.5308 23.8916 48.3856 19.8771C48.3851 19.8517 48.3749 19.8275 48.3569 19.8095C48.339 19.7916 48.3147 19.7813 48.2893 19.7808C47.2551 19.7581 45.6276 19.5446 44.9643 20.5088Z' fill='%23EFF0F2'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_785_140'%3E%3Crect width='105' height='35' rx='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.reviews_content {
    margin-top: 20px;
    border-radius: 50px;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.reviews_item {
    display: flex;
    flex-direction: column;
    max-width: 530px;
}

.reviews_item-top {
    display: flex;
    gap: 20px;
}

.reviews_item-image {
    width: 76px;
    height: 76px;
    border-radius: 40px;
}

.reviews_item-biography {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
    line-height: 140%;
}

.reviews-stars {
    width: 16px;
    height: 15px;
    display: block;
}

.reviews-stars-wrapper {
    display: flex;
    gap: 8px;
}

.reviews-star-semi-active {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' viewBox='0 0 16 15' fill='none'%3E%3Cpath d='M8.00003 13.0008L11.845 14.8845C12.5891 15.2676 13.4588 14.6488 13.3167 13.8373L12.6726 10.1593C12.6161 9.83707 12.7252 9.50827 12.9643 9.28006L15.6929 6.67528C16.2949 6.10059 15.9627 5.09931 15.1307 4.98092L11.3599 4.4443C11.0295 4.39729 10.7439 4.19408 10.5962 3.9009L8.90985 0.554535C8.85419 0.444095 8.49987 0 8.00064 0C7.99993 0.465426 8.00002 10.8965 8.00003 12.7397L8.00003 13.0008Z' fill='%23E6E6F4'/%3E%3Cpath d='M7.99997 13.0008L4.15501 14.8845C3.41088 15.2676 2.54119 14.6488 2.6833 13.8373L3.32743 10.1593C3.38386 9.83707 3.27478 9.50827 3.03572 9.28006L0.307135 6.67528C-0.294872 6.10059 0.037323 5.09931 0.869277 4.98092L4.64009 4.4443C4.97046 4.39729 5.25605 4.19408 5.4038 3.9009L7.09015 0.554535C7.14581 0.444095 7.50013 0 7.99936 0C8.00007 0.465426 7.99998 10.8965 7.99997 12.7397L7.99997 13.0008Z' fill='%23FFCE50'/%3E%3C/svg%3E");
}

.reviews-star-active {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' viewBox='0 0 16 15' fill='none'%3E%3Cpath d='M7.09044 0.553731C7.4625 -0.184577 8.5375 -0.184577 8.90956 0.553731L10.5959 3.90009C10.7437 4.19328 11.0293 4.39649 11.3596 4.4435L15.1304 4.98011C15.9624 5.09851 16.2946 6.09978 15.6926 6.67448L12.964 9.27926C12.7249 9.50747 12.6159 9.83627 12.6723 10.1585L13.3164 13.8365C13.4585 14.648 12.5888 15.2668 11.8447 14.8837L8.472 13.1472C8.17651 12.995 7.82349 12.995 7.528 13.1472L4.15529 14.8837C3.41116 15.2668 2.54147 14.648 2.68358 13.8365L3.32771 10.1585C3.38415 9.83627 3.27506 9.50747 3.036 9.27926L0.307417 6.67448C-0.294591 6.09978 0.0376046 5.09851 0.869559 4.98011L4.64037 4.4435C4.97074 4.39649 5.25633 4.19328 5.40408 3.90009L7.09044 0.553731Z' fill='%23FFCE50'/%3E%3C/svg%3E");
}

.reviews_item-biography span {
    color: #A9A9C1;
    font-size: 16px;
    line-height: 140%;
}

.reviews_item-bottom {
    height: 66px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
    line-height: 140%;
    margin-top: 20px;
    width: 100%;
}

button[data-reviews-button-reade-more] {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: #86869A;
    font-size: 14px;
    line-height: 20px;
    background: unset;
    width: max-content;
    padding: 0;
    border: none;
    margin-top: 8px;
    cursor: pointer;
}

button[data-reviews-button-reade-more]:after {
    display: block;
    content: '';
    width: 10px;
    height: 5px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='6' viewBox='0 0 12 6' fill='none'%3E%3Cpath d='M1 1L6 5L11 1' stroke='%2386869A' stroke-linecap='round'/%3E%3C/svg%3E");
}

.reviews_content_footer {
    display: flex;
    justify-content: space-between;
}

.wrapper-reviews-buttons {
    display: flex;
    justify-content: space-between;
    max-width: 452px;
    width: 100%;
}

.button-leave-review {
    max-width: 216px;
    display: flex;
    padding: 12px 46px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #FF6E1D;
    color: #FFF;
    text-align: center;;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
}

.button-leave-review:hover {
    padding: 12px 52px;
}

.button-reade-all-reviews {
    max-width: 216px;
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #FF6E1D;
    color: #FF6E1D;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
}

.button-reade-all-reviews:hover {
    padding: 12px 22px;
}

.wrapper-slider-buttons {
    display: flex;
    gap: 12px;
}

.reviews_swiper-buttons {
    width: 46px;
    height: 46px;
    cursor: pointer;
}

.reviews_swiper-button-prev {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='46' height='46' viewBox='0 0 46 46' fill='none'%3E%3Ccircle cx='23' cy='23' r='22.25' transform='matrix(1 0 0 -1 0 46)' fill='white' stroke='%23CBCBDA' stroke-width='1.5'/%3E%3Cpath d='M25 31L18 23L25 15' stroke='%23CBCBDA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.reviews_swiper-button-next {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='46' height='46' viewBox='0 0 46 46' fill='none'%3E%3Ccircle cx='23' cy='23' r='22.25' transform='matrix(-1 8.74228e-08 8.74228e-08 1 46 0)' fill='white' stroke='%23CBCBDA' stroke-width='1.5'/%3E%3Cpath d='M21 15L28 23L21 31' stroke='%23CBCBDA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}


.help {
    display: flex;
    gap: 30px;
    margin-top: 120px;
}

.help_contacts-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 575px;
    width: 100%;
}

.help-header {
    color: #86869A;
    font-size: 52px;
    font-weight: 500;
    line-height: 120%;
}

.help-header span {
    color: #FF6E1D;
    font-size: 52px;
    font-weight: 500;
    line-height: 120%;
}

.contact-item {
    padding: 10px 20px;
    gap: 8px;
    border-radius: 30px;
    background: #FFF;
    font-size: 20px;
    line-height: 130%;
    max-width: max-content;
    display: flex;
}

.contact-email:before {
    display: block;
    content: '';
    width: 26px;
    height: 26px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26' fill='none'%3E%3Cpath d='M13 26C20.1797 26 26 20.1797 26 13C26 5.8203 20.1797 0 13 0C5.8203 0 0 5.8203 0 13C0 20.1797 5.8203 26 13 26Z' fill='%23CBCBDA'/%3E%3Cpath d='M10.0156 18.683C10.3533 18.683 10.5025 18.5285 10.691 18.3453L12.4921 16.594L10.2455 15.2393' fill='%23E9E9EF'/%3E%3Cpath d='M10.2457 15.24L15.6893 19.2618C16.3106 19.6046 16.7588 19.427 16.9136 18.6851L19.1294 8.24325C19.3563 7.33372 18.7827 6.92106 18.1884 7.19087L5.177 12.208C4.28886 12.5643 4.29415 13.0598 5.01513 13.2805L8.35415 14.3228L16.0843 9.44589C16.4493 9.22459 16.7843 9.34346 16.5094 9.5875' fill='white'/%3E%3C/svg%3E");
}

.contact-phone:before {
    display: block;
    content: '';
    width: 21px;
    height: 21px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 21 21' fill='none'%3E%3Cpath d='M5.70078 7.94096C5.20817 8.58286 5.11876 9.45654 5.53117 10.1527C6.88406 12.4364 8.50026 14.044 10.7965 15.3921C11.461 15.7823 12.2898 15.719 12.9242 15.2816L14.4783 14.21C14.805 13.8833 15.26 13.79 15.6683 13.9183C16.975 14.35 18.375 14.5833 19.8333 14.5833C20.1428 14.5833 20.4395 14.7063 20.6583 14.925C20.8771 15.1438 21 15.4406 21 15.75V19.8333C21 20.1428 20.8771 20.4395 20.6583 20.6583C20.4395 20.8771 20.1428 21 19.8333 21C14.5732 21 9.52852 18.9104 5.80905 15.191C2.08958 11.4715 0 6.42679 0 1.16667C0 0.857247 0.122916 0.560501 0.341709 0.341709C0.560501 0.122916 0.857247 0 1.16667 0H5.25C5.55942 0 5.85616 0.122916 6.07496 0.341709C6.29375 0.560501 6.41667 0.857247 6.41667 1.16667C6.41667 2.625 6.65 4.025 7.08167 5.33167C7.21 5.74 7.11667 6.195 6.79 6.52167L5.70078 7.94096Z' fill='%23CBCBDA'/%3E%3C/svg%3E");
}

.contact-location:before {
    display: block;
    content: '';
    width: 18px;
    height: 26px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='26' viewBox='0 0 19 26' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.5854 9.28481C18.5854 10.6478 18.2914 11.9422 17.7634 13.1081H17.8141L17.4199 13.7903C17.3713 13.8776 17.3214 13.964 17.2701 14.0494L10.9008 25.0721C10.1859 26.3093 8.40003 26.3093 7.68513 25.0721L1.33007 14.0741C1.26864 13.9724 1.20911 13.8694 1.15153 13.7652L0.771883 13.1081H0.821924C0.293935 11.9422 0 10.6478 0 9.28481C0 4.15695 4.16047 0 9.29268 0C14.4249 0 18.5854 4.15695 18.5854 9.28481ZM9.29268 13.654C11.8588 13.654 13.939 11.5755 13.939 9.01158C13.939 6.44765 11.8588 4.36918 9.29268 4.36918C6.72657 4.36918 4.64634 6.44765 4.64634 9.01158C4.64634 11.5755 6.72657 13.654 9.29268 13.654Z' fill='%23CBCBDA'/%3E%3C/svg%3E");
}

.help_form-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.form-item {
    border-radius: 30px;
    background: #FFF;
    border: none;
    padding: 16px 24px;
    font-size: 12px;
    line-height: 140%;
    width: 100%;
}

.form-submit {
    display: flex;
    align-self: self-end;
    padding: 12px 19px 12px 20px;
    border-radius: 30px;
    background: #FF6E1D;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    border: none;
    cursor: pointer;
    width: max-content;
}

.form-submit:hover {
    padding: 12px 25px 12px 26px;
}

.form-textarea {
    resize: none;
}


.map {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 120px;
}

.map_header {
    font-size: 52px;
    font-weight: 500;
    line-height: 120%
}

.map-card {
    width: 1181px;
    height: 553px;

}


.SEO {
    max-width: 866px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.SEO_header {
    color: #86869A;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: -0.11px;
}

.SEO_container {
    color: #86869A;
    font-size: 14px;
    line-height: 140%;
}

.SEO_button {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #86869A;
    font-size: 14px;
    line-height: 140%;
    background: unset;
    padding: 0;
    width: max-content;
    border: none;
    cursor: pointer;
}

.SEO_button:after {
    display: block;
    content: '';
    width: 10px;
    height: 5px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='6' viewBox='0 0 12 6' fill='none'%3E%3Cpath d='M1 1L6 5L11 1' stroke='%2386869A' stroke-linecap='round'/%3E%3C/svg%3E");
}


.footer {
    background: #FFF;
    margin-top: 80px;
    padding-bottom: 66px;
    padding-top: 80px;
}

.footer_contacts {
    display: flex;
    flex-direction: column;
    color: #CBCBDA;
    font-size: 77px;
    font-weight: 600;
    line-height: 105%;
}

.footer_item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_phone:hover {
    color: #FF6E1D;
}

.footer_email:hover {
    color: #FF6E1D;
}

.footer_leave-reviews {
    max-width: 418px;
    width: 100%;
    height: max-content;
    padding-top: 12px;
    padding-bottom: 12px;
    gap: 10px;
    border-radius: 30px;
    background: #FF6E1D;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%
}

.footer_leave-reviews:hover {
    max-width: 424px;
    width: 100%;
}

.footer_write-to-director {
    max-width: 280px;
    width: 100%;
    height: max-content;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 30px;
    background: #F3F3F8;
    color: #86869A;
    font-size: 20px;
    line-height: 130%;
}

.footer_write-to-director:hover {
    max-width: 286px;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 109px;
    margin-top: 100px;
    border-radius: 40px;
    background: #F3F3F8;
    padding: 30px;
}

.wrapper-footer-navigation {
    display: flex;
    justify-content: space-between;
}

.footer_navigation {
    display: flex;
    gap: 30px;
}

.footer_navigation_item {
    color: #86869A;
    font-size: 20px;
    line-height: 130%;
}

.footer_navigation_item:hover {
    color: black;
}

.wrapper-footer-logo {
    display: flex;
    gap: 9px;
    color: #A9A9C1;
    text-align: right;
    font-size: 18px;
    line-height: 109%;
}

.footer_logo {
    width: 63px;
    height: 35px;
}

.working-time {
    display: flex;
    justify-content: space-between;
}

.working-days {
    display: flex;
    padding: 10px 26px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: #FFF;
    font-size: 20px;
    line-height: 130%;
}

.working-days span {
    color: #86869A;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.rules {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.rules_item {
    color: #86869A;
    font-size: 12px;
    text-decoration-line: underline;
}