@media (max-width: 786px) {
    .container-width {
        max-width: 340px;
        width: 100%;
    }


    .about-company {
        padding: 30px 16px 16px 16px;
    }

    .about-company_top .big-text {
        font-size: 32px;
        line-height: 105%;
    }
    .about-company_top .small-text {
        font-size: 23px;
        margin-top: 8px;
    }

    .about-company_bottom {
        margin-top: 30px;
    }

    .about-company_bottom_image-box .wholesale-Order-img {
        max-width: 266px;
        height: 200px;
    }

    .about-company_bottom_image-box .wholesale-order {
        right: -19%;
        top: 25%;
        left: unset;
        padding: 8px;
    }

    .about-company_bottom_image-box .wholesale-order:hover {
        padding: 8px;
    }

    .about-company_bottom_image-box .wholesale-order:hover .background-orange {
        width: 85px;
        height: 85px;
    }

    .about-company_bottom_image-box .background-orange {
        width: 85px;
        height: 85px;
        font-size: 14px;
    }

    .about-company_bottom_video-box {
        display: none;
    }


    .we-work {
        font-size: 29px;
        padding: 15px;
        border-radius: 24px;
    }

    .we-work span {
        font-size: 29px;
    }


    .production_swiper {
        max-width: 340px;
        height: 210px;
    }

    .production-item-img {
        max-width: 340px;
        height: 210px;
        border-radius: 30px;
    }

    .production_swiper_button {
        width: 26px;
        height: 26px;
        top: 92px;
        display: block;
    }

    .production_swiper_button-prev {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26' fill='none'%3E%3Cellipse cx='13' cy='13' rx='13' ry='13' transform='matrix(1 0 0 -1 0 26)' fill='white'/%3E%3Cpath d='M14.1309 17.5215L10.1743 12.9997L14.1309 8.47801' stroke='%23CBCBDA' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }

    .production_swiper_button-prev:hover {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26' fill='none'%3E%3Cellipse cx='13' cy='13' rx='13' ry='13' transform='matrix(1 0 0 -1 0 26)' fill='white'/%3E%3Cpath d='M14.1309 17.5215L10.1743 12.9997L14.1309 8.47801' stroke='%2386869A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }

    .production_swiper_button-next {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26' fill='none'%3E%3Cellipse cx='13' cy='13' rx='13' ry='13' transform='rotate(-180 13 13)' fill='white'/%3E%3Cpath d='M11.8691 17.5215L15.8257 12.9997L11.8691 8.47801' stroke='%23CBCBDA' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }

    .production_swiper_button-next:hover {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26' fill='none'%3E%3Cellipse cx='13' cy='13' rx='13' ry='13' transform='rotate(-180 13 13)' fill='white'/%3E%3Cpath d='M11.8691 17.5215L15.8257 12.9997L11.8691 8.47801' stroke='%2386869A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }


    .weekly-work {
        margin-top: 62px;
        min-height: 106px;
    }

    .weekly-work_header {
        max-width: 155px;
        font-size: 24px;
        font-weight: 600;
        line-height: 110%;
        margin-top: 15px;
    }

    .weekly-work_content {
        padding: 10px;
        width: min-content;
        gap: 34px;
    }

    .weekly-work_item {
        gap: 16px;
    }

    .weekly-work_item .item-img {
        max-width: 86px;
        height: 86px;
        border-radius: 14px;
    }

    .weekly-work_item .item-header {
        font-size: 20px;
        font-weight: 500;
        line-height: 110%
    }


    .products_showcase {
        margin-top: 80px;
    }

    .products_showcase_header {
        font-size: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .products_showcase_header span {
        display: flex;
        gap: 12px;
        color: #A9A9C1;
        font-size: 14px;
        line-height: 140%;
    }

    .products_showcase_header span:before {
        display: block;
        content: '';
        width: 24px;
        height: 21px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='23' viewBox='0 0 26 23' fill='none'%3E%3Cpath d='M17 11.9414V8.44141C17 7.61341 16.329 6.94141 15.5 6.94141V6.94141C14.672 6.94141 14 7.61341 14 8.44141' stroke='%2386869A' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 9.44141C17 8.61341 17.672 7.94141 18.5 7.94141V7.94141C19.329 7.94141 20 8.61341 20 9.44141V12.9414' stroke='%2386869A' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.0002 11.9414V3.44141C14.0002 2.61341 13.3292 1.94141 12.5002 1.94141V1.94141C11.6722 1.94141 11.0002 2.61341 11.0002 3.44141V10.9414V13.9414L9.1162 12.0574C8.4992 11.4404 7.5002 11.4404 6.8832 12.0574V12.0574C6.3692 12.5714 6.2892 13.3764 6.6932 13.9814L10.2192 19.2694C11.3322 20.9384 13.2052 21.9414 15.2122 21.9414H17.0002C20.3142 21.9414 23.0002 19.2554 23.0002 15.9414V11.9414V10.4414C23.0002 9.61341 22.3292 8.94141 21.5002 8.94141V8.94141C20.6722 8.94141 20.0002 9.61341 20.0002 10.4414' stroke='%2386869A' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M23.0857 1L24.9997 2.914L22.9727 4.941' stroke='%2386869A' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2.91434 1L1.00034 2.914L3.02734 4.941' stroke='%2386869A' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M25 2.91113H19' stroke='%2386869A' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1 2.91113H7' stroke='%2386869A' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }

    .products_showcase_filter {
        margin-top: 20px;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .products_showcase_filter_item {
        padding: 8px 12px;
    }

    .products_showcase_filter::-webkit-scrollbar {
        display: none;
    }


    .products_showcase_swiper {
        width: 340px;
        margin-top: 16px;
    }

    .products_item {
        max-width: 160px;
    }

    .products_showcase_swiper_button {
        margin-top: 87px;
        width: 26px;
        height: 26px;
    }

    .products_showcase_swiper_button-prev {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26' fill='none'%3E%3Cellipse cx='13' cy='13' rx='13' ry='13' transform='matrix(1 0 0 -1 0 26)' fill='white'/%3E%3Cpath d='M14.1309 17.5215L10.1743 12.9997L14.1309 8.47801' stroke='%23CBCBDA' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        left: 8px;
    }

    .products_showcase_swiper_button-prev:hover {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26' fill='none'%3E%3Cellipse cx='13' cy='13' rx='13' ry='13' transform='matrix(1 0 0 -1 0 26)' fill='white'/%3E%3Cpath d='M14.1309 17.5215L10.1743 12.9997L14.1309 8.47801' stroke='%2386869A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        left: 8px;
    }

    .products_showcase_swiper_button-next {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26' fill='none'%3E%3Cellipse cx='13' cy='13' rx='13' ry='13' transform='rotate(-180 13 13)' fill='white'/%3E%3Cpath d='M11.8691 17.5215L15.8257 12.9997L11.8691 8.47801' stroke='%23CBCBDA' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        right: 16px;
    }

    .products_showcase_swiper_button-next:hover {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26' fill='none'%3E%3Cellipse cx='13' cy='13' rx='13' ry='13' transform='rotate(-180 13 13)' fill='white'/%3E%3Cpath d='M11.8691 17.5215L15.8257 12.9997L11.8691 8.47801' stroke='%2386869A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        right: 16px;
    }

    .products_item .descriptions {
        margin-top: 16px;
        font-size: 14px;
        line-height: 140%
    }

    .products_item .price {
        font-size: 20px;
    }

    .products_item .button-detail {
        padding: 10px 30px;
        font-size: 14px;
        font-weight: 500;
    }


    .services {
        margin-top: 80px;
        padding: 20px 16px 26px 16px;
        border-radius: 30px;
    }

    .services_header, .services_header span {
        font-size: 35px;
        line-height: 110%;
    }

    .services_header br {
        display: none;
    }

    .services_item {
        padding: 20px 66px 40px 20px;
        font-size: 20px;
        border-radius: 20px;
        min-height: 77px;
    }

    .services_item_wrapper-svg {
        padding: 0 8px 10px 10px;
        border-bottom-left-radius: 15px;
    }

    .services_item-svg-1 {
        width: 41px;
        height: 37px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='41' height='37' viewBox='0 0 41 37' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.5029 11.3015L20.4979 8.23207L19.493 11.3015C19.077 12.5721 17.8944 13.431 16.561 13.431L13.3438 13.431L15.9186 15.2876C17.0116 16.0756 17.4691 17.4833 17.0492 18.766L16.0591 21.7901L18.6965 19.8884C19.7728 19.1123 21.2231 19.1123 22.2994 19.8884L24.9368 21.7901L23.9467 18.766C23.5268 17.4833 23.9843 16.0756 25.0773 15.2876L27.6521 13.431H24.4348C23.1014 13.431 21.9188 12.5721 21.5029 11.3015ZM22.9689 10.8187L21.9639 7.7493C21.4991 6.32966 19.4967 6.32966 19.0319 7.74931L18.027 10.8187C17.819 11.454 17.2277 11.8835 16.561 11.8835H13.3438C11.8451 11.8835 11.2263 13.8101 12.4431 14.6874L15.0179 16.544C15.5644 16.9381 15.7932 17.6419 15.5832 18.2833L14.5931 21.3073C14.1273 22.7302 15.7474 23.9208 16.9598 23.0466L19.5972 21.1449C20.1354 20.7568 20.8605 20.7568 21.3987 21.1449L24.0361 23.0466C25.2485 23.9208 26.8686 22.7302 26.4028 21.3073L25.4127 18.2833C25.2027 17.6419 25.4315 16.9381 25.978 16.544L28.5528 14.6874C29.7696 13.8101 29.1507 11.8835 27.6521 11.8835H24.4348C23.7681 11.8835 23.1768 11.454 22.9689 10.8187Z' fill='%23FF6E1D'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M22.0258 2.37156L21.5023 1.92085C20.9242 1.42304 20.0703 1.42304 19.4921 1.92085L18.9687 2.37156C17.8987 3.29283 16.4684 3.67471 15.0833 3.40889L14.3999 3.27773C13.6485 3.13352 12.9052 3.56327 12.6531 4.28767L12.4425 4.8926C11.974 6.23883 10.9146 7.29445 9.56929 7.75562L8.95365 7.96666C8.22398 8.21679 7.79045 8.96877 7.93835 9.72778L8.05216 10.3119C8.32708 11.7228 7.93474 13.1819 6.98974 14.2628L6.59472 14.7147C6.08434 15.2985 6.08434 16.1713 6.59472 16.7551L6.98974 17.2069C7.93474 18.2879 8.32708 19.747 8.05216 21.1579L7.93835 21.742C7.79045 22.501 8.22398 23.253 8.95365 23.5031L9.56929 23.7142C10.9146 24.1753 11.974 25.2309 12.4425 26.5772L12.6531 27.1821C12.9052 27.9065 13.6485 28.3363 14.3999 28.192L15.0833 28.0609C16.4684 27.7951 17.8987 28.1769 18.9687 29.0982L19.4921 29.5489C20.0703 30.0467 20.9242 30.0467 21.5023 29.5489L22.0258 29.0982C23.0957 28.1769 24.526 27.7951 25.9111 28.0609L26.5945 28.192C27.3459 28.3363 28.0892 27.9065 28.3413 27.1821L28.5519 26.5772C29.0204 25.2309 30.0798 24.1753 31.4251 23.7142L32.0408 23.5031C32.7704 23.253 33.204 22.501 33.0561 21.742L32.9423 21.1579C32.6673 19.747 33.0597 18.2879 34.0047 17.2069L34.3997 16.7551C34.9101 16.1713 34.9101 15.2985 34.3997 14.7147L34.0047 14.2628C33.0597 13.1819 32.6673 11.7228 32.9423 10.3119L33.0561 9.72778C33.204 8.96877 32.7704 8.21679 32.0408 7.96666L31.4251 7.75562C30.0798 7.29445 29.0204 6.23883 28.5519 4.8926L28.3413 4.28766C28.0892 3.56327 27.3459 3.13352 26.5945 3.27773L25.9111 3.40889C24.526 3.67471 23.0957 3.29283 22.0258 2.37156ZM22.5074 0.746711C21.3511 -0.248904 19.6433 -0.248903 18.487 0.746711L17.9636 1.19742C17.2502 1.8116 16.2967 2.06619 15.3733 1.88898L14.6899 1.75781C13.1871 1.4694 11.7005 2.32889 11.1963 3.77768L10.9857 4.38262C10.6734 5.28011 9.96712 5.98385 9.07024 6.2913L8.45461 6.50233C6.99526 7.00259 6.12821 8.50656 6.424 10.0246L6.53781 10.6087C6.72109 11.5493 6.45953 12.522 5.82953 13.2426L5.43451 13.6945C4.41376 14.8621 4.41376 16.6076 5.43451 17.7753L5.82953 18.2271C6.45953 18.9478 6.72109 19.9205 6.53781 20.8611L6.424 21.4452C6.12821 22.9632 6.99526 24.4672 8.45461 24.9674L9.07024 25.1785C9.96712 25.4859 10.6734 26.1897 10.9857 27.0872L11.1963 27.6921C11.7005 29.1409 13.1871 30.0004 14.6899 29.712L15.3733 29.5808C16.2967 29.4036 17.2502 29.6582 17.9635 30.2724L18.487 30.7231C19.6433 31.7187 21.3511 31.7187 22.5074 30.7231L23.0309 30.2724C23.7442 29.6582 24.6977 29.4036 25.6211 29.5808L26.3045 29.712C27.8073 30.0004 29.2939 29.1409 29.7981 27.6921L30.0087 27.0872C30.321 26.1897 31.0273 25.4859 31.9242 25.1785L32.5398 24.9674C33.9992 24.4672 34.8662 22.9632 34.5704 21.4452L34.4566 20.8611C34.2733 19.9205 34.5349 18.9478 35.1649 18.2271L35.5599 17.7753C36.5807 16.6076 36.5807 14.8621 35.5599 13.6945L35.1649 13.2426C34.5349 12.522 34.2733 11.5493 34.4566 10.6087L34.5704 10.0246C34.8662 8.50656 33.9992 7.00259 32.5398 6.50233L31.9242 6.2913C31.0273 5.98385 30.321 5.2801 30.0087 4.38262L29.7981 3.77768C29.2939 2.32889 27.8073 1.4694 26.3045 1.75781L25.6211 1.88898C24.6977 2.06619 23.7442 1.8116 23.0309 1.19742L22.5074 0.746711Z' fill='%23FF6E1D'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.460774 28.756L6.47811 22.7842L7.56343 23.8842L1.54609 29.856L7.21932 29.856C7.93416 29.856 8.5554 30.3484 8.72056 31.046L9.729 35.3049L16.9068 28.5458L17.963 29.6739L10.7852 36.433C9.92066 37.2471 8.50174 36.8196 8.22775 35.6624L7.21932 31.4035H1.54609C0.167517 31.4035 -0.519127 29.7285 0.460774 28.756Z' fill='%23FF6E1D'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M40.5392 28.9025L34.5219 22.9307L33.4366 24.0306L39.4539 30.0025L33.7807 30.0025C33.0658 30.0025 32.4446 30.4949 32.2794 31.1924L31.271 35.4514L24.0932 28.6922L23.037 29.8204L30.2148 36.5795C31.0793 37.3936 32.4983 36.966 32.7722 35.8089L33.7807 31.55H39.4539C40.8325 31.55 41.5191 29.875 40.5392 28.9025Z' fill='%23FF6E1D'/%3E%3C/svg%3E");
    }

    .services_item-svg-2 {
        width: 41px;
        height: 38px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='41' height='38' viewBox='0 0 41 38' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.8177 0C15.632 0 15.4525 0.0656343 15.3119 0.184914C14.9218 0.516117 14.3352 1.04212 13.8405 1.54843C13.7611 1.62965 13.6825 1.71195 13.6064 1.79422C12.3293 2.30132 10.5129 3.04225 8.95427 3.7208C8.13072 4.07933 7.3693 4.42468 6.79497 4.7111C6.50952 4.85346 6.25652 4.98805 6.06094 5.10722C5.96412 5.16622 5.86688 5.23017 5.78205 5.29685C5.73115 5.33688 5.61161 5.43212 5.51856 5.57629C5.50057 5.60347 5.48413 5.63209 5.46944 5.66209L0.0765969 16.6757C-0.100115 17.0365 0.0385474 17.4702 0.393569 17.667L7.94771 21.8545V36.1391C7.94771 36.5071 8.21598 36.8222 8.5846 36.8872C10.6867 37.2579 15.9789 38.0005 20.3585 38.0005C20.4448 38.0005 20.5278 37.9866 20.6053 37.961L20.6231 37.9616L20.6425 37.9618C25.0221 37.9618 30.3143 37.2193 32.4164 36.8485C32.785 36.7835 33.0533 36.4684 33.0533 36.1005V21.8539L40.6064 17.667C40.9615 17.4702 41.1001 17.0365 40.9234 16.6757L35.5449 5.69145C35.5385 5.67718 35.5317 5.66289 35.5243 5.64862C35.429 5.46374 35.2779 5.34323 35.2189 5.29685C35.1341 5.23017 35.0369 5.16622 34.94 5.10722C34.7445 4.98805 34.4915 4.85346 34.206 4.7111C33.6317 4.42468 32.8703 4.07933 32.0467 3.7208C30.4881 3.04225 28.6717 2.30132 27.3946 1.79422C27.3184 1.71195 27.2399 1.62965 27.1605 1.54843C26.6658 1.04212 26.0792 0.516117 25.689 0.184914C25.5485 0.0656343 25.369 0 25.1833 0H20.6429H20.3581H15.8177ZM35.0301 8.14634C34.8339 8.64453 34.6058 9.18976 34.377 9.72698C34.2433 10.0411 34.1098 10.3514 33.9813 10.6502L33.981 10.6508C33.7812 11.1153 33.5933 11.5521 33.4347 11.9329C33.3049 12.2444 33.2005 12.5047 33.1296 12.6998C33.0939 12.798 33.0702 12.8699 33.0564 12.9183L33.0533 12.9297V17.2033L38.3186 14.8623L35.0301 8.14634ZM33.0533 20.1087V18.8717L38.9895 16.2324L39.215 16.693L33.0533 20.1087ZM31.5061 18.3482V12.8754C31.5061 12.7265 31.5455 12.5823 31.5665 12.5086C31.5942 12.4115 31.6312 12.3021 31.6726 12.1884C31.7557 11.9598 31.8709 11.6737 32.0028 11.3571C32.164 10.9703 32.3588 10.5173 32.5621 10.0446L32.5637 10.0408C32.6912 9.74456 32.8219 9.4406 32.9497 9.1404C33.2867 8.34892 33.6073 7.57485 33.8255 6.96891C33.9169 6.71506 33.9852 6.50471 34.029 6.34263C33.8957 6.26622 33.7205 6.17361 33.5057 6.06648C32.9677 5.7982 32.2355 5.46554 31.4199 5.11048C30.3767 4.65634 29.2133 4.17251 28.1773 3.7512C28.1558 3.90988 28.1277 4.10101 28.0947 4.31587C28.017 4.8224 27.9099 5.47542 27.7914 6.17767C27.5543 7.58294 27.27 9.19635 27.0805 10.2534C27.0384 10.4883 26.8864 10.6902 26.6701 10.7986C26.4538 10.9069 26.1982 10.9093 25.9799 10.8048L22.0728 8.93567L21.1326 10.8445V15.353C21.1326 15.7727 20.7863 16.113 20.359 16.113H20.3586H20.3581C19.9309 16.113 19.5845 15.7727 19.5845 15.353V10.8333L18.7249 8.95711L15.0326 10.7992C14.8141 10.9082 14.5559 10.909 14.3367 10.8014C14.1174 10.6938 13.963 10.4905 13.9205 10.2534C13.731 9.19635 13.4467 7.58294 13.2096 6.17767C13.0911 5.47542 12.984 4.8224 12.9063 4.31587C12.8733 4.10101 12.8452 3.90988 12.8237 3.7512C11.7877 4.17251 10.6243 4.65634 9.58108 5.11048C8.76549 5.46554 8.03323 5.79821 7.49528 6.06648C7.28046 6.17361 7.10526 6.26622 6.97193 6.34263C7.01578 6.50471 7.08407 6.71506 7.17548 6.96891C7.39368 7.57485 7.71426 8.34892 8.05127 9.1404C8.17963 9.44187 8.31093 9.74714 8.43888 10.0446C8.64218 10.5173 8.83702 10.9703 8.99819 11.3571C9.13006 11.6737 9.24523 11.9598 9.32837 12.1884C9.36973 12.3021 9.40679 12.4115 9.43445 12.5086C9.45545 12.5823 9.49488 12.7265 9.49488 12.8754V35.4984C11.8552 35.8806 16.496 36.4805 20.3585 36.4805C20.3709 36.4805 20.3833 36.4808 20.3957 36.4814C20.4732 36.4557 20.5562 36.4418 20.6425 36.4418C24.505 36.4418 29.1458 35.842 31.5061 35.4598V21.4441C31.5056 21.433 31.5053 21.4218 31.5053 21.4105V18.3818C31.5053 18.3706 31.5056 18.3594 31.5061 18.3482ZM2.68141 14.8623L5.97044 8.14524C6.16673 8.64373 6.39503 9.18937 6.62394 9.72698C6.7577 10.0411 6.89116 10.3514 7.0197 10.6502L7.01971 10.6502L7.01973 10.6503L7.01989 10.6506L7.02007 10.6511C7.21984 11.1155 7.40771 11.5522 7.56629 11.9329C7.69607 12.2444 7.80043 12.5047 7.8714 12.6999C7.9071 12.798 7.93075 12.8699 7.94453 12.9183L7.94771 12.9297V17.2038L2.68141 14.8623ZM26.2013 2.76476C26.2583 2.872 26.3415 2.9663 26.4463 3.03749C26.4984 3.09879 26.545 3.1563 26.5852 3.20935C26.6234 3.25974 26.6514 3.30021 26.6711 3.33116C26.6671 3.36754 26.6614 3.41566 26.6533 3.47736C26.633 3.63391 26.6029 3.84114 26.5648 4.08933C26.4888 4.58493 26.3831 5.22944 26.265 5.92912C26.0948 6.93808 25.8999 8.05605 25.7336 8.99634L22.7467 7.56742L25.1227 2.74306L25.1318 2.72398L25.452 2.02512C25.6529 2.21228 25.857 2.40932 26.0444 2.60106C26.0991 2.65705 26.1515 2.71172 26.2013 2.76476ZM14.7997 2.76477C14.7426 2.872 14.6595 2.96631 14.5547 3.0375C14.5025 3.0988 14.456 3.15631 14.4158 3.20935C14.3776 3.25974 14.3496 3.30021 14.3298 3.33116C14.3339 3.36754 14.3396 3.41566 14.3476 3.47736C14.368 3.63391 14.3981 3.84114 14.4361 4.08933C14.5122 4.58493 14.6179 5.22944 14.736 5.92912C14.9051 6.93182 15.0987 8.04219 15.2643 8.97883L18.0892 7.56951L15.549 2.02512C15.3481 2.21228 15.1439 2.40932 14.9566 2.60106C14.9019 2.65705 14.8495 2.71172 14.7997 2.76477ZM20.3581 1.52H17.0142L17.0747 1.65203H20.3581H20.6429H23.9262L23.9867 1.52H20.6429H20.3581ZM20.3581 3.17204H17.7711L20.3839 8.87489L23.1927 3.17204H20.6429H20.3581ZM14.2928 3.39733C14.2926 3.39741 14.2938 3.39429 14.297 3.38773C14.2947 3.39396 14.2931 3.39725 14.2928 3.39733ZM26.7081 3.39733C26.7084 3.39741 26.7072 3.39429 26.7039 3.38773C26.7063 3.39396 26.7079 3.39725 26.7081 3.39733ZM22.7291 12.3713C22.7291 12.7021 22.4526 12.9702 22.1116 12.9702C21.7706 12.9702 21.4941 12.7021 21.4941 12.3713C21.4941 12.0405 21.7706 11.7723 22.1116 11.7723C22.4526 11.7723 22.7291 12.0405 22.7291 12.3713ZM22.1116 15.1726C22.4526 15.1726 22.7291 14.9044 22.7291 14.5736C22.7291 14.2428 22.4526 13.9746 22.1116 13.9746C21.7706 13.9746 21.4941 14.2428 21.4941 14.5736C21.4941 14.9044 21.7706 15.1726 22.1116 15.1726ZM2.01052 16.2324L1.78497 16.693L7.94748 20.1091V18.8721L2.01052 16.2324Z' fill='%23FF6E1D'/%3E%3C/svg%3E");
    }

    .services_item-svg-3 {
        width: 32px;
        height: 37px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='37' viewBox='0 0 45 52' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M31.0434 2H13.6385C13.0862 2 12.6385 2.44772 12.6385 3V20.2049C12.6385 20.7572 13.0862 21.2049 13.6385 21.2049H31.0434C31.5957 21.2049 32.0434 20.7572 32.0434 20.2049V3C32.0434 2.44771 31.5957 2 31.0434 2ZM13.6385 0C11.9816 0 10.6385 1.34315 10.6385 3V20.2049C10.6385 20.9472 10.9081 21.6265 11.3546 22.1502H3C1.34315 22.1502 0 23.4934 0 25.1502V42.3551C0 44.012 1.34314 45.3551 3 45.3551H20.4049C21.1428 45.3551 21.8186 45.0887 22.3411 44.6468C22.8636 45.0888 23.5394 45.3553 24.2775 45.3553H41.6824C43.3392 45.3553 44.6824 44.0121 44.6824 42.3553V25.1504C44.6824 23.4935 43.3392 22.1504 41.6824 22.1504H33.3271C33.7738 21.6266 34.0434 20.9472 34.0434 20.2049V3C34.0434 1.34315 32.7002 0 31.0434 0H13.6385ZM23.3743 42.7851C23.3945 42.6447 23.4049 42.5011 23.4049 42.3551V25.1502C23.4049 25.0043 23.3945 24.8608 23.3743 24.7205C23.5351 24.3834 23.8791 24.1504 24.2775 24.1504H41.6824C42.2347 24.1504 42.6824 24.5981 42.6824 25.1504V42.3553C42.6824 42.9076 42.2347 43.3553 41.6824 43.3553H24.2775C23.8791 43.3553 23.5351 43.1223 23.3743 42.7851ZM21.3081 24.7204C21.1473 24.3832 20.8033 24.1502 20.4049 24.1502H16.4022C16.3779 24.6809 15.94 25.1037 15.4033 25.1037H8.4668C7.93009 25.1037 7.49214 24.6809 7.46786 24.1502H3C2.44772 24.1502 2 24.5979 2 25.1502V42.3551C2 42.9074 2.44772 43.3551 3 43.3551H20.4049C20.8033 43.3551 21.1473 43.1222 21.308 42.785C21.2879 42.6447 21.2775 42.5012 21.2775 42.3553V25.1504C21.2775 25.0044 21.2879 24.8608 21.3081 24.7204ZM7.76464 51.1037V51.4623C7.76464 51.7594 7.28833 52.0002 6.70077 52.0002H1.38144C0.793877 52.0002 0.317567 51.7594 0.317567 51.4623V49.8485C0.317567 49.5514 0.793877 49.3105 1.38143 49.3105H43.9361C44.5237 49.3105 45 49.5514 45 49.8485V51.4623C45 51.7594 44.5237 52.0002 43.9361 52.0002H38.6168C38.0292 52.0002 37.5529 51.7594 37.5529 51.4623V51.1037H7.76464Z' fill='%23FF6E1D'/%3E%3Cmask id='path-2-inside-1_284_963' fill='white'%3E%3Crect x='18.1907' width='8.93649' height='2.68968' rx='1'/%3E%3C/mask%3E%3Crect x='18.1907' width='8.93649' height='2.68968' rx='1' fill='%23FF6E1D' stroke='%23FF6E1D' stroke-width='2.68968' mask='url(%23path-2-inside-1_284_963)'/%3E%3Cmask id='path-3-inside-2_284_963' fill='white'%3E%3Crect x='28.9146' y='22.4141' width='8.93649' height='2.68968' rx='1'/%3E%3C/mask%3E%3Crect x='28.9146' y='22.4141' width='8.93649' height='2.68968' rx='1' fill='%23FF6E1D' stroke='%23FF6E1D' stroke-width='2.68968' mask='url(%23path-3-inside-2_284_963)'/%3E%3C/svg%3E");
    }


    .technologies {
        margin-top: 80px;
    }

    .technologies_header {
        font-size: 24px;
    }

    .technologies_item {
        padding: 16px;
        border-radius: 30px;
    }

    .technologies_item_img {
        width: 308px;
        height: 178px;
        border-radius: 20px;
    }

    .technologies_item_footer {
        flex-direction: column;
        gap: 10px;
        margin-top: 24px;
    }

    .technologies_item_footer .descriptions {
        font-size: 20px;
    }

    .technologies_item_footer .detail {
        padding: 10px 30px;
        font-size: 14px;
        font-weight: 500;
        max-width: 248px;
        width: 100%;
        text-align: center;
    }


    .guarantee {
        margin-top: 78px;
    }

    .guarantee_header {
        font-size: 35px;
        line-height: 110%;
        order: 1;
    }

    .guarantee > .guarantee_item {
        order: 2;
        margin-top: 0 !important;
    }

    .guarantee_footer_item-wrapper {
        order: 3;
        gap: 20px;
        justify-content: start;
    }

    .guarantee_item {
        max-width: 116px;
        height: 90px;
        border-radius: 20px;
        padding: 6px 22px;
    }

    div.guarantee_item:nth-child(1) {
        display: none;
    }

    div.guarantee_item:nth-child(2n+1) {
        margin-top: -55px;
    }

    .guarantee_img {
        max-width: 117px;
        width: max-content;
        height: 54px;
        filter: unset;
        opacity: unset;
    }


    .reviews {
        margin-top: 80px;
    }

    .reviews_header {
        font-size: 24px;
    }

    .reviews_button {
        margin-top: 20px;
    }

    .reviews_button {
        padding: 16px 18px 16px 23px;
    }

    .reviews_button_svg {
        gap: 8px;
        color: #86869A;
        font-size: 12px;
        font-weight: 500;
    }

    .reviews_button_svg:before {
        width: 63px;
        height: 21px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='63' height='21' viewBox='0 0 63 21' fill='none'%3E%3Cg clip-path='url(%23clip0_1180_4345)'%3E%3Cpath d='M-0.0196271 0H63.0003V21H-0.0322266L-0.0143768 20.978C-0.00892217 20.9712 -0.00595689 20.9626 -0.00597656 20.9538L-0.0196271 0ZM23.6243 5.29515C23.6243 5.28345 23.6196 5.27224 23.6114 5.26397C23.6031 5.2557 23.5919 5.25105 23.5802 5.25105H21.0182C21.0124 5.25105 21.0066 5.25219 21.0013 5.25441C20.9959 5.25662 20.9911 5.25987 20.987 5.26397C20.9829 5.26806 20.9796 5.27292 20.9774 5.27827C20.9752 5.28362 20.9741 5.28936 20.9741 5.29515V14.9972C20.9741 15.0029 20.9752 15.0087 20.9774 15.014C20.9796 15.0194 20.9829 15.0242 20.987 15.0283C20.9911 15.0324 20.9959 15.0357 21.0013 15.0379C21.0066 15.0401 21.0124 15.0413 21.0182 15.0413H23.5802C23.5919 15.0413 23.6031 15.0366 23.6114 15.0283C23.6196 15.0201 23.6243 15.0088 23.6243 14.9972V5.29515ZM12.7053 7.6986V15.0413C12.7053 15.0621 12.7136 15.0822 12.7284 15.0969C12.7432 15.1117 12.7632 15.12 12.7841 15.12H15.2358C15.247 15.12 15.2576 15.1155 15.2655 15.1074C15.2734 15.0993 15.2778 15.0884 15.2778 15.0769V11.907C15.2778 11.8959 15.2824 11.8852 15.2904 11.8773C15.2985 11.8694 15.3095 11.865 15.3209 11.865H18.9654C18.983 11.865 18.9998 11.8581 19.0122 11.8459C19.0246 11.8337 19.0316 11.8172 19.0316 11.7999V9.58125C19.0316 9.56733 19.026 9.55397 19.0162 9.54413C19.0063 9.53428 18.993 9.52875 18.9791 9.52875H15.3303C15.3164 9.52875 15.303 9.52322 15.2932 9.51337C15.2834 9.50353 15.2778 9.49017 15.2778 9.47625L15.2789 7.7595C15.2789 7.74836 15.2833 7.73768 15.2912 7.7298C15.2991 7.72192 15.3097 7.7175 15.3209 7.7175H20.0816C20.0955 7.7175 20.1089 7.71197 20.1187 7.70212C20.1285 7.69228 20.1341 7.67892 20.1341 7.665V5.38545C20.1341 5.37125 20.1284 5.35763 20.1184 5.34758C20.1083 5.33754 20.0947 5.3319 20.0805 5.3319C17.4401 5.3256 14.7997 5.32595 12.1593 5.33295C11.5678 5.33435 11.1342 5.36935 10.8584 5.43795C7.64222 6.24015 7.71257 10.583 10.8195 11.4713C10.8386 11.4765 10.8589 11.474 10.8762 11.4644C10.8935 11.4548 10.9063 11.4388 10.9119 11.4198L11.522 9.3198C11.5262 9.30504 11.5254 9.2893 11.5197 9.27504C11.514 9.26079 11.5037 9.24883 11.4905 9.24105C10.6578 8.7591 10.8027 7.7091 11.7939 7.64715C12.0326 7.63245 12.3189 7.63105 12.6528 7.64295C12.6669 7.64349 12.6803 7.6496 12.6901 7.65997C12.6999 7.67035 12.7053 7.6842 12.7053 7.6986ZM34.8645 8.65935L34.8582 7.8477C34.8582 7.82709 34.85 7.80733 34.8355 7.79276C34.8209 7.77819 34.8011 7.77 34.7805 7.77H32.4978C32.4839 7.77 32.4705 7.77553 32.4607 7.78538C32.4509 7.79522 32.4453 7.80858 32.4453 7.8225V14.9887C32.4453 15.0027 32.4509 15.016 32.4607 15.0259C32.4705 15.0357 32.4839 15.0413 32.4978 15.0413H34.8876C34.895 15.0413 34.9023 15.0398 34.9092 15.0369C34.916 15.0341 34.9222 15.0299 34.9274 15.0246C34.9325 15.0193 34.9366 15.013 34.9393 15.0062C34.9421 14.9993 34.9434 14.9919 34.9433 14.9846C34.9314 13.6539 34.9324 12.3235 34.9464 10.9935C34.9538 10.2669 35.4987 9.52455 36.2778 9.78705C36.8847 9.99075 36.9131 10.7625 36.9099 11.2371C36.9029 12.4817 36.905 13.7315 36.9162 14.9866C36.9162 15.0011 36.922 15.015 36.9322 15.0253C36.9425 15.0355 36.9563 15.0413 36.9708 15.0413H39.2903C39.3134 15.0413 39.3356 15.0321 39.3519 15.0157C39.3682 14.9994 39.3774 14.9772 39.3774 14.9541C39.3725 13.7214 39.3799 12.4929 39.3995 11.2686C39.4121 10.4675 39.5622 9.59805 40.6206 9.77235C41.2023 9.8679 41.2653 10.5021 41.2643 10.9987C41.2643 12.3273 41.265 13.657 41.2664 14.9877C41.2664 15.0019 41.272 15.0155 41.2821 15.0256C41.2921 15.0356 41.3057 15.0413 41.3199 15.0413H43.7108C43.723 15.0413 43.7348 15.0364 43.7434 15.0277C43.7521 15.0191 43.757 15.0073 43.757 14.995C43.7626 13.4165 43.7556 11.8419 43.736 10.2711C43.7202 9.0762 43.1847 8.001 41.9888 7.71015C40.839 7.4298 39.6872 7.66395 39.0425 8.73285C39.0395 8.73787 39.0354 8.74209 39.0305 8.74516C39.0256 8.74823 39.02 8.75005 39.0142 8.75047C39.0084 8.75088 39.0026 8.74988 38.9973 8.74754C38.992 8.7452 38.9873 8.7416 38.9837 8.73705C38.9109 8.64185 38.8405 8.5449 38.7726 8.4462C37.8675 7.1379 35.7087 7.3584 34.9139 8.673C34.8817 8.7269 34.8652 8.72235 34.8645 8.65935ZM47.0918 8.6058L47.0928 7.8225C47.093 7.81566 47.0917 7.80886 47.0891 7.80249C47.0866 7.79613 47.0827 7.79034 47.0778 7.78545C47.0729 7.78056 47.0671 7.77667 47.0607 7.77402C47.0542 7.77137 47.0473 7.77 47.0403 7.77H44.7566C44.7426 7.77 44.7293 7.77553 44.7194 7.78538C44.7096 7.79522 44.7041 7.80858 44.7041 7.8225V17.7712C44.7041 17.7852 44.7096 17.7985 44.7194 17.8084C44.7293 17.8182 44.7426 17.8237 44.7566 17.8237H47.1191C47.133 17.8237 47.1464 17.8182 47.1562 17.8084C47.166 17.7985 47.1716 17.7852 47.1716 17.7712V14.3882C47.1716 14.3497 47.1852 14.3441 47.2125 14.3714C47.7732 14.9362 48.469 15.2177 49.2999 15.2156C50.667 15.2114 51.6026 14.4816 52.0635 13.2289C52.7681 11.3127 52.389 8.2026 50.037 7.66605C48.847 7.39515 47.8779 7.71295 47.1296 8.61945C47.1044 8.65025 47.0918 8.6457 47.0918 8.6058ZM29.1914 14.4428L29.1903 14.9751C29.1903 14.9926 29.1972 15.0095 29.2094 15.0219C29.2216 15.0343 29.2382 15.0413 29.2554 15.0413H31.3733C31.3861 15.0413 31.3984 15.0363 31.4074 15.0274C31.4165 15.0185 31.4216 15.0065 31.4216 14.994C31.4223 13.6479 31.4219 12.3042 31.4205 10.963C31.4198 10.2868 31.368 9.7958 31.2651 9.4899C30.6855 7.76895 28.6454 7.42875 27.063 7.73745C25.8807 7.96845 24.921 8.68665 24.8003 9.96135C24.7995 9.96979 24.8005 9.97828 24.8032 9.9863C24.8059 9.99431 24.8102 10.0017 24.8158 10.0079C24.8215 10.0141 24.8283 10.0191 24.8359 10.0224C24.8436 10.0258 24.8518 10.0275 24.8601 10.0275H26.9979C27.0119 10.0275 27.0255 10.0226 27.0364 10.0136C27.0473 10.0046 27.0549 9.9921 27.0578 9.97815C27.1705 9.45035 27.5131 9.18855 28.0857 9.19275C28.7672 9.19695 29.0171 9.6348 29.0297 10.2585C29.03 10.2791 29.0261 10.2996 29.0181 10.3186C29.0101 10.3377 28.9982 10.3548 28.9833 10.3691C28.9683 10.3834 28.9505 10.3945 28.931 10.4016C28.9116 10.4088 28.8908 10.4119 28.8701 10.4108C27.8841 10.3551 26.6252 10.3456 25.8104 10.753C24.5724 11.3726 24.1251 12.8342 24.7719 14.0501C25.6067 15.6209 28.0007 15.6135 29.1504 14.426C29.1777 14.398 29.1914 14.4036 29.1914 14.4428Z' fill='%232E6AE4'/%3E%3Cpath d='M48.1692 13.1876C46.3852 12.7876 46.7643 9.00865 48.9094 9.6628C50.4865 10.1426 50.2177 13.6475 48.1692 13.1876Z' fill='%232E6AE4'/%3E%3Cpath d='M26.9787 12.3049C27.3767 11.7263 28.3532 11.8544 28.9737 11.8681C28.9889 11.8683 29.0035 11.8745 29.0143 11.8853C29.025 11.8961 29.0312 11.9106 29.0315 11.9258C29.1186 14.3345 26.1587 13.4956 26.9787 12.3049Z' fill='%232E6AE4'/%3E%3Cpath d='M23.5797 5.25098H21.0177C20.9934 5.25098 20.9736 5.27072 20.9736 5.29508V14.9971C20.9736 15.0214 20.9934 15.0412 21.0177 15.0412H23.5797C23.6041 15.0412 23.6238 15.0214 23.6238 14.9971V5.29508C23.6238 5.27072 23.6041 5.25098 23.5797 5.25098Z' fill='%23EFF0F2'/%3E%3Cpath d='M12.6528 7.64268C12.3189 7.63078 12.0326 7.63218 11.7939 7.64688C10.8027 7.70883 10.6578 8.75883 11.4905 9.24078C11.5037 9.24856 11.514 9.26052 11.5197 9.27477C11.5254 9.28902 11.5262 9.30476 11.522 9.31953L10.9119 11.4195C10.9063 11.4385 10.8935 11.4545 10.8762 11.4641C10.8589 11.4737 10.8386 11.4762 10.8195 11.471C7.71258 10.5827 7.64223 6.23987 10.8584 5.43767C11.1342 5.36907 11.5678 5.33407 12.1593 5.33267C14.7997 5.32567 17.4401 5.32532 20.0805 5.33162C20.0947 5.33162 20.1083 5.33727 20.1184 5.34731C20.1284 5.35735 20.1341 5.37097 20.1341 5.38517V7.66473C20.1341 7.67865 20.1285 7.692 20.1187 7.70185C20.1089 7.71169 20.0955 7.71723 20.0816 7.71723H15.3209C15.3097 7.71723 15.2991 7.72165 15.2912 7.72953C15.2833 7.7374 15.2789 7.74809 15.2789 7.75923L15.2778 9.47598C15.2778 9.4899 15.2834 9.50325 15.2932 9.5131C15.303 9.52294 15.3164 9.52848 15.3303 9.52848H18.9791C18.993 9.52848 19.0064 9.53401 19.0162 9.54385C19.026 9.5537 19.0316 9.56705 19.0316 9.58098V11.7996C19.0316 11.8169 19.0246 11.8334 19.0122 11.8457C18.9998 11.8579 18.983 11.8647 18.9654 11.8647H15.3209C15.3095 11.8647 15.2985 11.8692 15.2904 11.877C15.2824 11.8849 15.2778 11.8956 15.2778 11.9067V15.0767C15.2778 15.0881 15.2734 15.099 15.2655 15.1071C15.2576 15.1152 15.247 15.1197 15.2358 15.1197H12.7841C12.7632 15.1197 12.7432 15.1114 12.7284 15.0967C12.7136 15.0819 12.7053 15.0619 12.7053 15.041V7.69833C12.7053 7.68392 12.6999 7.67008 12.6901 7.6597C12.6803 7.64932 12.6669 7.64322 12.6528 7.64268Z' fill='%23EFF0F2'/%3E%3Cpath d='M34.9139 8.67246C35.7087 7.35786 37.8675 7.13737 38.7726 8.44567C38.8405 8.54437 38.9109 8.64131 38.9837 8.73651C38.9873 8.74106 38.9919 8.74466 38.9973 8.747C39.0026 8.74934 39.0084 8.75035 39.0142 8.74993C39.02 8.74952 39.0256 8.7477 39.0305 8.74463C39.0354 8.74156 39.0395 8.73733 39.0425 8.73231C39.6872 7.66341 40.839 7.42926 41.9888 7.70961C43.1847 8.00046 43.7202 9.07566 43.736 10.2706C43.7556 11.8414 43.7626 13.416 43.757 14.9945C43.757 15.0068 43.7521 15.0185 43.7434 15.0272C43.7348 15.0358 43.723 15.0407 43.7108 15.0407H41.3199C41.3057 15.0407 41.2921 15.0351 41.282 15.025C41.272 15.015 41.2664 15.0014 41.2664 14.9872C41.265 13.6565 41.2643 12.3268 41.2643 10.9982C41.2653 10.5016 41.2023 9.86736 40.6206 9.77181C39.5622 9.59751 39.4121 10.4669 39.3995 11.2681C39.3799 12.4924 39.3725 13.7209 39.3774 14.9536C39.3774 14.9767 39.3682 14.9988 39.3519 15.0152C39.3355 15.0315 39.3134 15.0407 39.2903 15.0407H36.9708C36.9563 15.0407 36.9424 15.035 36.9322 15.0247C36.922 15.0145 36.9162 15.0006 36.9162 14.9861C36.905 13.731 36.9029 12.4812 36.9099 11.2366C36.9131 10.762 36.8847 9.99021 36.2778 9.78651C35.4987 9.52401 34.9538 10.2664 34.9464 10.993C34.9324 12.323 34.9314 13.6533 34.9433 14.984C34.9434 14.9914 34.9421 14.9988 34.9393 15.0056C34.9366 15.0125 34.9325 15.0188 34.9273 15.024C34.9222 15.0293 34.916 15.0335 34.9092 15.0364C34.9023 15.0392 34.895 15.0407 34.8876 15.0407H32.4978C32.4839 15.0407 32.4705 15.0352 32.4607 15.0253C32.4508 15.0155 32.4453 15.0021 32.4453 14.9882V7.82196C32.4453 7.80804 32.4508 7.79469 32.4607 7.78484C32.4705 7.775 32.4839 7.76946 32.4978 7.76946H34.7805C34.8011 7.76946 34.8209 7.77765 34.8355 7.79222C34.85 7.80679 34.8582 7.82656 34.8582 7.84716L34.8645 8.65881C34.8652 8.72181 34.8817 8.72636 34.9139 8.67246Z' fill='%23EFF0F2'/%3E%3Cpath d='M47.1296 8.61916C47.8779 7.71266 48.847 7.39486 50.037 7.66576C52.389 8.20231 52.7681 11.3124 52.0636 13.2287C51.6026 14.4813 50.6671 15.2111 49.3 15.2153C48.4691 15.2174 47.7733 14.936 47.2126 14.3711C47.1853 14.3438 47.1716 14.3494 47.1716 14.3879V17.771C47.1716 17.7849 47.1661 17.7982 47.1562 17.8081C47.1464 17.8179 47.133 17.8235 47.1191 17.8235H44.7566C44.7427 17.8235 44.7293 17.8179 44.7195 17.8081C44.7096 17.7982 44.7041 17.7849 44.7041 17.771V7.82221C44.7041 7.80829 44.7096 7.79493 44.7195 7.78509C44.7293 7.77524 44.7427 7.76971 44.7566 7.76971H47.0404C47.0473 7.76971 47.0542 7.77108 47.0607 7.77373C47.0671 7.77638 47.073 7.78027 47.0778 7.78516C47.0827 7.79005 47.0866 7.79584 47.0892 7.8022C47.0917 7.80857 47.093 7.81537 47.0929 7.82221L47.0918 8.60551C47.0918 8.64541 47.1044 8.64996 47.1296 8.61916ZM48.9093 9.66286C46.7642 9.00871 46.3852 12.7877 48.1691 13.1877C50.2177 13.6476 50.4865 10.1427 48.9093 9.66286Z' fill='%23EFF0F2'/%3E%3Cpath d='M29.1502 14.4261C28.0005 15.6137 25.6065 15.621 24.7717 14.0502C24.1249 12.8343 24.5722 11.3727 25.8102 10.7532C26.625 10.3458 27.8839 10.3553 28.8699 10.4109C28.8906 10.4121 28.9113 10.409 28.9308 10.4018C28.9503 10.3946 28.9681 10.3836 28.983 10.3693C28.998 10.355 29.0099 10.3378 29.0178 10.3188C29.0258 10.2997 29.0298 10.2793 29.0295 10.2587C29.0169 9.63496 28.767 9.19711 28.0855 9.19291C27.5129 9.18871 27.1703 9.45051 27.0576 9.97831C27.0547 9.99226 27.0471 10.0048 27.0362 10.0138C27.0253 10.0228 27.0117 10.0277 26.9977 10.0277H24.8599C24.8516 10.0277 24.8433 10.026 24.8357 10.0226C24.8281 10.0192 24.8212 10.0143 24.8156 10.008C24.81 10.0018 24.8057 9.99447 24.803 9.98646C24.8003 9.97844 24.7993 9.96995 24.8001 9.96151C24.9208 8.68681 25.8805 7.96861 27.0628 7.73761C28.6452 7.42891 30.6853 7.76911 31.2649 9.49006C31.3678 9.79596 31.4196 10.287 31.4203 10.9632C31.4217 12.3044 31.4221 13.6481 31.4214 14.9942C31.4214 15.0067 31.4163 15.0187 31.4072 15.0276C31.3981 15.0364 31.3859 15.0414 31.3731 15.0414H29.2552C29.2379 15.0414 29.2214 15.0344 29.2092 15.022C29.197 15.0096 29.1901 14.9928 29.1901 14.9753L29.1912 14.4429C29.1912 14.4037 29.1775 14.3981 29.1502 14.4261ZM26.9788 12.3051C26.1588 13.4958 29.1187 14.3348 29.0316 11.9261C29.0313 11.9108 29.0251 11.8963 29.0143 11.8855C29.0036 11.8748 28.989 11.8686 28.9738 11.8683C28.3533 11.8547 27.3768 11.7266 26.9788 12.3051Z' fill='%23EFF0F2'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1180_4345'%3E%3Crect width='63' height='21' rx='10.5' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }

    .reviews_button_svg:after {
        width: 8px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='16' viewBox='0 0 8 16' fill='none'%3E%3Cpath d='M1 1.04395L7 8.04395L1 15.0439' stroke='%23CBCBDA' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }

    .reviews_content {
        margin-top: 20px;
        border-radius: 30px;
        padding: 16px;
        position: relative;
    }

    .reviews_swiper {
        max-width: 340px;
        min-height: 100%;
    }

    .reviews_content_footer {
        flex-direction: column;
    }

    .wrapper-slider-buttons{
        position: absolute;
        bottom: -70px;
        right: 0;
    }


}

