@media (max-width: 768px) {
    .call-us {
        margin-top: 59px;
        flex-direction: column;
        border-radius: 24px;
        gap: 20px;
        padding: 20px 16px;
    }

    .call-us_working-time {
        font-size: 20px;
        line-height: 130%;
        text-align: center;
    }

    .call-us_working-time br {
        display: none;
    }

    .call-us_phone {
        font-size: 34px;
    }
}