body {
    font-family: Manrope;
    background: #F3F3F8;
}

p {
    margin: 0;
}

a {
    text-decoration: unset;
    color: unset;
}

.container-width {
    max-width: 1180px;
    margin: auto;
}


.help {
    display: flex;
    gap: 30px;
    margin-top: 120px;
}

.help_contacts-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 575px;
    width: 100%;
}

.help-header {
    color: #86869A;
    font-size: 52px;
    font-weight: 500;
    line-height: 120%;
}

.help-header span {
    color: #FF6E1D;
    font-size: 52px;
    font-weight: 500;
    line-height: 120%;
}

.contact-item {
    padding: 10px 20px;
    gap: 8px;
    border-radius: 30px;
    background: #FFF;
    font-size: 20px;
    line-height: 130%;
    max-width: max-content;
    display: flex;
}

.contact-email:before {
    display: block;
    content: '';
    width: 26px;
    height: 26px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26' fill='none'%3E%3Cpath d='M13 26C20.1797 26 26 20.1797 26 13C26 5.8203 20.1797 0 13 0C5.8203 0 0 5.8203 0 13C0 20.1797 5.8203 26 13 26Z' fill='%23CBCBDA'/%3E%3Cpath d='M10.0156 18.683C10.3533 18.683 10.5025 18.5285 10.691 18.3453L12.4921 16.594L10.2455 15.2393' fill='%23E9E9EF'/%3E%3Cpath d='M10.2457 15.24L15.6893 19.2618C16.3106 19.6046 16.7588 19.427 16.9136 18.6851L19.1294 8.24325C19.3563 7.33372 18.7827 6.92106 18.1884 7.19087L5.177 12.208C4.28886 12.5643 4.29415 13.0598 5.01513 13.2805L8.35415 14.3228L16.0843 9.44589C16.4493 9.22459 16.7843 9.34346 16.5094 9.5875' fill='white'/%3E%3C/svg%3E");
}

.contact-phone:before {
    display: block;
    content: '';
    width: 21px;
    height: 21px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 21 21' fill='none'%3E%3Cpath d='M5.70078 7.94096C5.20817 8.58286 5.11876 9.45654 5.53117 10.1527C6.88406 12.4364 8.50026 14.044 10.7965 15.3921C11.461 15.7823 12.2898 15.719 12.9242 15.2816L14.4783 14.21C14.805 13.8833 15.26 13.79 15.6683 13.9183C16.975 14.35 18.375 14.5833 19.8333 14.5833C20.1428 14.5833 20.4395 14.7063 20.6583 14.925C20.8771 15.1438 21 15.4406 21 15.75V19.8333C21 20.1428 20.8771 20.4395 20.6583 20.6583C20.4395 20.8771 20.1428 21 19.8333 21C14.5732 21 9.52852 18.9104 5.80905 15.191C2.08958 11.4715 0 6.42679 0 1.16667C0 0.857247 0.122916 0.560501 0.341709 0.341709C0.560501 0.122916 0.857247 0 1.16667 0H5.25C5.55942 0 5.85616 0.122916 6.07496 0.341709C6.29375 0.560501 6.41667 0.857247 6.41667 1.16667C6.41667 2.625 6.65 4.025 7.08167 5.33167C7.21 5.74 7.11667 6.195 6.79 6.52167L5.70078 7.94096Z' fill='%23CBCBDA'/%3E%3C/svg%3E");
}

.contact-location:before {
    display: block;
    content: '';
    width: 18px;
    height: 26px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='26' viewBox='0 0 19 26' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.5854 9.28481C18.5854 10.6478 18.2914 11.9422 17.7634 13.1081H17.8141L17.4199 13.7903C17.3713 13.8776 17.3214 13.964 17.2701 14.0494L10.9008 25.0721C10.1859 26.3093 8.40003 26.3093 7.68513 25.0721L1.33007 14.0741C1.26864 13.9724 1.20911 13.8694 1.15153 13.7652L0.771883 13.1081H0.821924C0.293935 11.9422 0 10.6478 0 9.28481C0 4.15695 4.16047 0 9.29268 0C14.4249 0 18.5854 4.15695 18.5854 9.28481ZM9.29268 13.654C11.8588 13.654 13.939 11.5755 13.939 9.01158C13.939 6.44765 11.8588 4.36918 9.29268 4.36918C6.72657 4.36918 4.64634 6.44765 4.64634 9.01158C4.64634 11.5755 6.72657 13.654 9.29268 13.654Z' fill='%23CBCBDA'/%3E%3C/svg%3E");
}

.help_form-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.form-item {
    border-radius: 30px;
    background: #FFF;
    border: none;
    padding: 16px 24px;
    font-size: 12px;
    line-height: 140%;
    width: 100%;
}

.form-submit {
    display: flex;
    align-self: self-end;
    padding: 12px 19px 12px 20px;
    border-radius: 30px;
    background: #FF6E1D;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    border: none;
    cursor: pointer;
    width: max-content;
}

.form-submit:hover {
    padding: 12px 25px 12px 26px;
}

.form-textarea {
    resize: none;
}
