body {
    font-family: Manrope;
    background: #F3F3F8;
}

p {
    margin: 0;
}

a {
    text-decoration: unset;
    color: unset;
}

.container-width {
    max-width: 1180px;
    margin: auto;
}


.seo {
    max-width: 866px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.seo_header {
    color: #86869A;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: -0.11px;
}

.seo_container {
    color: #86869A;
    font-size: 14px;
    line-height: 140%;
    height: 60px;
    overflow: hidden;
}

.seo_container_open {
    height: max-content;
    overflow: unset;
}

.seo_button {
    display: none;
    align-items: center;
    gap: 8px;
    color: #86869A;
    font-size: 14px;
    line-height: 140%;
    background: unset;
    padding: 0;
    width: max-content;
    border: none;
    cursor: pointer;
}

.seo_button:after {
    display: block;
    content: '';
    width: 10px;
    height: 5px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='6' viewBox='0 0 12 6' fill='none'%3E%3Cpath d='M1 1L6 5L11 1' stroke='%2386869A' stroke-linecap='round'/%3E%3C/svg%3E");
}

.seo_button-active {
    display: flex;
}

