@media (max-width: 768px) {

    .container-width {
        max-width: 340px;
        width: 100%;
    }

    .machine-embroidery {
        position: relative;
        gap: 80px;
    }

    .machine-embroidery_top-block {
        flex-direction: column;
        margin-top: 40px;
        gap: 0;
    }

    .machine-embroidery_header {
        font-size: 24px;
        position: absolute;
        top: 0;
    }

    .machine-embroidery_description {
        font-size: 16px;
        line-height: 140%;
    }

    .machine-embroidery_img {
        width: 340px;
        height: 327px;
        border-radius: 24px;
    }

    .machine-embroidery_price {
        margin-top: 40px;
        font-size: 28px;
    }

    .machine-embroidery_order-button {
        padding: 10px 30px;
        font-size: 14px;
        font-weight: 500;
        width: unset;
        text-align: center;
        margin-top: 16px;
    }

    .characteristic_menu-wrapper {
        flex-wrap: wrap;
        font-size: 20px;
        gap: 12px;
    }

    .characteristic_hidden-item {
        font-size: 16px;
        line-height: 140%;
        padding: 20px 16px 40px 16px;
    }


    .products-wrapper {
        margin-top: 80px;
    }

    .products-wrapper_header {
        font-size: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .products-wrapper_header:after {
        display: block;
        content: '';
        width: 84px;
        height: 21px;
        background-image: url("data:image/svg+xml,%3Csvg width='85' height='23' viewBox='0 0 85 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 11.9414V8.44141C17 7.61341 16.329 6.94141 15.5 6.94141V6.94141C14.672 6.94141 14 7.61341 14 8.44141' stroke='%2386869A' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 9.44141C17 8.61341 17.672 7.94141 18.5 7.94141V7.94141C19.329 7.94141 20 8.61341 20 9.44141V12.9414' stroke='%2386869A' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.9992 11.9414V3.44141C13.9992 2.61341 13.3282 1.94141 12.4992 1.94141V1.94141C11.6712 1.94141 10.9992 2.61341 10.9992 3.44141V10.9414V13.9414L9.11522 12.0574C8.49822 11.4404 7.49922 11.4404 6.88222 12.0574V12.0574C6.36822 12.5714 6.28822 13.3764 6.69222 13.9814L10.2182 19.2694C11.3312 20.9384 13.2042 21.9414 15.2112 21.9414H16.9992C20.3132 21.9414 22.9992 19.2554 22.9992 15.9414V11.9414V10.4414C22.9992 9.61341 22.3282 8.94141 21.4992 8.94141V8.94141C20.6712 8.94141 19.9992 9.61341 19.9992 10.4414' stroke='%2386869A' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M23.0857 1L24.9997 2.914L22.9727 4.941' stroke='%2386869A' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2.91434 1L1.00034 2.914L3.02734 4.941' stroke='%2386869A' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M25 2.91113H19' stroke='%2386869A' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1 2.91113H7' stroke='%2386869A' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M37.28 16.4707V15.5537C37.5367 15.577 37.749 15.5677 37.917 15.5257C38.085 15.479 38.2203 15.3764 38.323 15.2177C38.4303 15.059 38.5237 14.8234 38.603 14.5107C38.6823 14.1934 38.7617 13.7804 38.841 13.2717C38.9297 12.721 39.0043 12.1727 39.065 11.6267C39.1303 11.0807 39.1863 10.5277 39.233 9.9677C39.2843 9.40304 39.3263 8.82437 39.359 8.2317C39.3917 7.63904 39.422 7.02537 39.45 6.3907H45.813V16.4707H44.784V7.3777H40.444C40.4113 7.85837 40.3787 8.3507 40.346 8.8547C40.318 9.3587 40.2807 9.87437 40.234 10.4017C40.192 10.929 40.1383 11.4727 40.073 12.0327C40.0123 12.588 39.9353 13.162 39.842 13.7547C39.7673 14.2027 39.6787 14.618 39.576 15.0007C39.478 15.3834 39.338 15.7054 39.156 15.9667C38.9787 16.228 38.7383 16.4077 38.435 16.5057C38.1363 16.6037 37.7513 16.592 37.28 16.4707ZM53.7751 8.9107V16.4707H52.7741V10.5837L48.6301 16.4707H47.7621V8.9107H48.7631V14.7487L52.9141 8.9107H53.7751ZM58.8758 16.6807C58.1151 16.6807 57.4711 16.5104 56.9438 16.1697C56.4164 15.829 56.0151 15.36 55.7398 14.7627C55.4691 14.1607 55.3291 13.47 55.3198 12.6907C55.3291 11.8974 55.4738 11.202 55.7538 10.6047C56.0338 10.0027 56.4374 9.53604 56.9648 9.2047C57.4921 8.8687 58.1314 8.7007 58.8828 8.7007C59.6481 8.7007 60.3131 8.88737 60.8778 9.2607C61.4471 9.63404 61.8368 10.145 62.0468 10.7937L61.0388 11.1157C60.8614 10.663 60.5791 10.313 60.1918 10.0657C59.8091 9.8137 59.3704 9.6877 58.8758 9.6877C58.3204 9.6877 57.8608 9.81604 57.4968 10.0727C57.1328 10.3247 56.8621 10.677 56.6848 11.1297C56.5074 11.5824 56.4164 12.1027 56.4118 12.6907C56.4211 13.596 56.6311 14.324 57.0418 14.8747C57.4524 15.4207 58.0638 15.6937 58.8758 15.6937C59.3891 15.6937 59.8254 15.577 60.1848 15.3437C60.5488 15.1057 60.8241 14.7604 61.0108 14.3077L62.0468 14.6157C61.7668 15.2877 61.3561 15.801 60.8148 16.1557C60.2734 16.5057 59.6271 16.6807 58.8758 16.6807ZM65.365 16.4707V9.8627H62.684V8.9107H69.075V9.8627H66.394V16.4707H65.365ZM72.2856 16.6807C71.7162 16.6807 71.2379 16.578 70.8506 16.3727C70.4679 16.1674 70.1809 15.8944 69.9896 15.5537C69.7982 15.213 69.7026 14.842 69.7026 14.4407C69.7026 14.03 69.7842 13.68 69.9476 13.3907C70.1156 13.0967 70.3419 12.8564 70.6266 12.6697C70.9159 12.483 71.2496 12.3407 71.6276 12.2427C72.0102 12.1494 72.4326 12.0677 72.8946 11.9977C73.3612 11.923 73.8162 11.86 74.2596 11.8087C74.7076 11.7527 75.0996 11.699 75.4356 11.6477L75.0716 11.8717C75.0856 11.125 74.9409 10.572 74.6376 10.2127C74.3342 9.85337 73.8069 9.6737 73.0556 9.6737C72.5376 9.6737 72.0989 9.79037 71.7396 10.0237C71.3849 10.257 71.1352 10.6257 70.9906 11.1297L69.9896 10.8357C70.1622 10.159 70.5099 9.63404 71.0326 9.2607C71.5552 8.88737 72.2342 8.7007 73.0696 8.7007C73.7602 8.7007 74.3459 8.83137 74.8266 9.0927C75.3119 9.34937 75.6549 9.7227 75.8556 10.2127C75.9489 10.432 76.0096 10.677 76.0376 10.9477C76.0656 11.2184 76.0796 11.4937 76.0796 11.7737V16.4707H75.1626V14.5737L75.4286 14.6857C75.1719 15.3344 74.7729 15.829 74.2316 16.1697C73.6902 16.5104 73.0416 16.6807 72.2856 16.6807ZM72.4046 15.7917C72.8852 15.7917 73.3052 15.7054 73.6646 15.5327C74.0239 15.36 74.3132 15.1244 74.5326 14.8257C74.7519 14.5224 74.8942 14.1817 74.9596 13.8037C75.0156 13.561 75.0459 13.295 75.0506 13.0057C75.0552 12.7117 75.0576 12.4924 75.0576 12.3477L75.4496 12.5507C75.0996 12.5974 74.7192 12.644 74.3086 12.6907C73.9026 12.7374 73.5012 12.791 73.1046 12.8517C72.7126 12.9124 72.3579 12.9847 72.0406 13.0687C71.8259 13.1294 71.6182 13.2157 71.4176 13.3277C71.2169 13.435 71.0512 13.5797 70.9206 13.7617C70.7946 13.9437 70.7316 14.17 70.7316 14.4407C70.7316 14.66 70.7852 14.8724 70.8926 15.0777C71.0046 15.283 71.1819 15.4534 71.4246 15.5887C71.6719 15.724 71.9986 15.7917 72.4046 15.7917ZM81.0379 8.0147C80.7065 8.0147 80.4032 7.93304 80.1279 7.7697C79.8525 7.60637 79.6332 7.38937 79.4699 7.1187C79.3112 6.84337 79.2319 6.54004 79.2319 6.2087H80.0859C80.0859 6.47004 80.1792 6.69404 80.3659 6.8807C80.5525 7.06737 80.7765 7.1607 81.0379 7.1607C81.3039 7.1607 81.5279 7.06737 81.7099 6.8807C81.8965 6.69404 81.9899 6.47004 81.9899 6.2087H82.8439C82.8439 6.54004 82.7622 6.84337 82.5989 7.1187C82.4402 7.38937 82.2232 7.60637 81.9479 7.7697C81.6725 7.93304 81.3692 8.0147 81.0379 8.0147ZM83.9079 8.9107V16.4707H82.9069V10.5837L78.7629 16.4707H77.8949V8.9107H78.8959V14.7487L83.0469 8.9107H83.9079Z' fill='%23A9A9C1'/%3E%3C/svg%3E%0A");
    }

    .products {
        margin-top: 20px;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: start;
        gap: 20px;
    }

    .products::-webkit-scrollbar {
        display: none;
    }

    .products_item {
        max-width: 160px;
    }


    .showcase_items {
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: start;
        gap: 20px;
    }

    .showcase_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .showcase_header:after {
        display: block;
        content: '';
        width: 84px;
        height: 21px;
        background-image: url("data:image/svg+xml,%3Csvg width='85' height='23' viewBox='0 0 85 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 11.9414V8.44141C17 7.61341 16.329 6.94141 15.5 6.94141V6.94141C14.672 6.94141 14 7.61341 14 8.44141' stroke='%2386869A' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 9.44141C17 8.61341 17.672 7.94141 18.5 7.94141V7.94141C19.329 7.94141 20 8.61341 20 9.44141V12.9414' stroke='%2386869A' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.9992 11.9414V3.44141C13.9992 2.61341 13.3282 1.94141 12.4992 1.94141V1.94141C11.6712 1.94141 10.9992 2.61341 10.9992 3.44141V10.9414V13.9414L9.11522 12.0574C8.49822 11.4404 7.49922 11.4404 6.88222 12.0574V12.0574C6.36822 12.5714 6.28822 13.3764 6.69222 13.9814L10.2182 19.2694C11.3312 20.9384 13.2042 21.9414 15.2112 21.9414H16.9992C20.3132 21.9414 22.9992 19.2554 22.9992 15.9414V11.9414V10.4414C22.9992 9.61341 22.3282 8.94141 21.4992 8.94141V8.94141C20.6712 8.94141 19.9992 9.61341 19.9992 10.4414' stroke='%2386869A' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M23.0857 1L24.9997 2.914L22.9727 4.941' stroke='%2386869A' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2.91434 1L1.00034 2.914L3.02734 4.941' stroke='%2386869A' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M25 2.91113H19' stroke='%2386869A' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1 2.91113H7' stroke='%2386869A' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M37.28 16.4707V15.5537C37.5367 15.577 37.749 15.5677 37.917 15.5257C38.085 15.479 38.2203 15.3764 38.323 15.2177C38.4303 15.059 38.5237 14.8234 38.603 14.5107C38.6823 14.1934 38.7617 13.7804 38.841 13.2717C38.9297 12.721 39.0043 12.1727 39.065 11.6267C39.1303 11.0807 39.1863 10.5277 39.233 9.9677C39.2843 9.40304 39.3263 8.82437 39.359 8.2317C39.3917 7.63904 39.422 7.02537 39.45 6.3907H45.813V16.4707H44.784V7.3777H40.444C40.4113 7.85837 40.3787 8.3507 40.346 8.8547C40.318 9.3587 40.2807 9.87437 40.234 10.4017C40.192 10.929 40.1383 11.4727 40.073 12.0327C40.0123 12.588 39.9353 13.162 39.842 13.7547C39.7673 14.2027 39.6787 14.618 39.576 15.0007C39.478 15.3834 39.338 15.7054 39.156 15.9667C38.9787 16.228 38.7383 16.4077 38.435 16.5057C38.1363 16.6037 37.7513 16.592 37.28 16.4707ZM53.7751 8.9107V16.4707H52.7741V10.5837L48.6301 16.4707H47.7621V8.9107H48.7631V14.7487L52.9141 8.9107H53.7751ZM58.8758 16.6807C58.1151 16.6807 57.4711 16.5104 56.9438 16.1697C56.4164 15.829 56.0151 15.36 55.7398 14.7627C55.4691 14.1607 55.3291 13.47 55.3198 12.6907C55.3291 11.8974 55.4738 11.202 55.7538 10.6047C56.0338 10.0027 56.4374 9.53604 56.9648 9.2047C57.4921 8.8687 58.1314 8.7007 58.8828 8.7007C59.6481 8.7007 60.3131 8.88737 60.8778 9.2607C61.4471 9.63404 61.8368 10.145 62.0468 10.7937L61.0388 11.1157C60.8614 10.663 60.5791 10.313 60.1918 10.0657C59.8091 9.8137 59.3704 9.6877 58.8758 9.6877C58.3204 9.6877 57.8608 9.81604 57.4968 10.0727C57.1328 10.3247 56.8621 10.677 56.6848 11.1297C56.5074 11.5824 56.4164 12.1027 56.4118 12.6907C56.4211 13.596 56.6311 14.324 57.0418 14.8747C57.4524 15.4207 58.0638 15.6937 58.8758 15.6937C59.3891 15.6937 59.8254 15.577 60.1848 15.3437C60.5488 15.1057 60.8241 14.7604 61.0108 14.3077L62.0468 14.6157C61.7668 15.2877 61.3561 15.801 60.8148 16.1557C60.2734 16.5057 59.6271 16.6807 58.8758 16.6807ZM65.365 16.4707V9.8627H62.684V8.9107H69.075V9.8627H66.394V16.4707H65.365ZM72.2856 16.6807C71.7162 16.6807 71.2379 16.578 70.8506 16.3727C70.4679 16.1674 70.1809 15.8944 69.9896 15.5537C69.7982 15.213 69.7026 14.842 69.7026 14.4407C69.7026 14.03 69.7842 13.68 69.9476 13.3907C70.1156 13.0967 70.3419 12.8564 70.6266 12.6697C70.9159 12.483 71.2496 12.3407 71.6276 12.2427C72.0102 12.1494 72.4326 12.0677 72.8946 11.9977C73.3612 11.923 73.8162 11.86 74.2596 11.8087C74.7076 11.7527 75.0996 11.699 75.4356 11.6477L75.0716 11.8717C75.0856 11.125 74.9409 10.572 74.6376 10.2127C74.3342 9.85337 73.8069 9.6737 73.0556 9.6737C72.5376 9.6737 72.0989 9.79037 71.7396 10.0237C71.3849 10.257 71.1352 10.6257 70.9906 11.1297L69.9896 10.8357C70.1622 10.159 70.5099 9.63404 71.0326 9.2607C71.5552 8.88737 72.2342 8.7007 73.0696 8.7007C73.7602 8.7007 74.3459 8.83137 74.8266 9.0927C75.3119 9.34937 75.6549 9.7227 75.8556 10.2127C75.9489 10.432 76.0096 10.677 76.0376 10.9477C76.0656 11.2184 76.0796 11.4937 76.0796 11.7737V16.4707H75.1626V14.5737L75.4286 14.6857C75.1719 15.3344 74.7729 15.829 74.2316 16.1697C73.6902 16.5104 73.0416 16.6807 72.2856 16.6807ZM72.4046 15.7917C72.8852 15.7917 73.3052 15.7054 73.6646 15.5327C74.0239 15.36 74.3132 15.1244 74.5326 14.8257C74.7519 14.5224 74.8942 14.1817 74.9596 13.8037C75.0156 13.561 75.0459 13.295 75.0506 13.0057C75.0552 12.7117 75.0576 12.4924 75.0576 12.3477L75.4496 12.5507C75.0996 12.5974 74.7192 12.644 74.3086 12.6907C73.9026 12.7374 73.5012 12.791 73.1046 12.8517C72.7126 12.9124 72.3579 12.9847 72.0406 13.0687C71.8259 13.1294 71.6182 13.2157 71.4176 13.3277C71.2169 13.435 71.0512 13.5797 70.9206 13.7617C70.7946 13.9437 70.7316 14.17 70.7316 14.4407C70.7316 14.66 70.7852 14.8724 70.8926 15.0777C71.0046 15.283 71.1819 15.4534 71.4246 15.5887C71.6719 15.724 71.9986 15.7917 72.4046 15.7917ZM81.0379 8.0147C80.7065 8.0147 80.4032 7.93304 80.1279 7.7697C79.8525 7.60637 79.6332 7.38937 79.4699 7.1187C79.3112 6.84337 79.2319 6.54004 79.2319 6.2087H80.0859C80.0859 6.47004 80.1792 6.69404 80.3659 6.8807C80.5525 7.06737 80.7765 7.1607 81.0379 7.1607C81.3039 7.1607 81.5279 7.06737 81.7099 6.8807C81.8965 6.69404 81.9899 6.47004 81.9899 6.2087H82.8439C82.8439 6.54004 82.7622 6.84337 82.5989 7.1187C82.4402 7.38937 82.2232 7.60637 81.9479 7.7697C81.6725 7.93304 81.3692 8.0147 81.0379 8.0147ZM83.9079 8.9107V16.4707H82.9069V10.5837L78.7629 16.4707H77.8949V8.9107H78.8959V14.7487L83.0469 8.9107H83.9079Z' fill='%23A9A9C1'/%3E%3C/svg%3E%0A");
    }

    .showcase_items::-webkit-scrollbar {
        display: none;
    }

    .showcase_item {
        max-width: 140px;
        padding: 10px;
    }

    .showcase_item_button-wrapper {
        flex-wrap: wrap;
        gap: 8px;
    }

    .showcase_item_img {
        height: 140px;
    }

    .showcase_item_button {
        max-width: inherit;
    }


    .for-price_items-wrapper {
        display: none;
    }

    .for-price_items-wrapper-mobile {
        display: flex;
        flex-direction: column;
        gap: 40px;
        border-bottom: solid 1px #CBCBDA;
    }

    .for-price_price-mobile {
        color: #000;
        font-size: 20px;
        line-height: 130%;
        padding-bottom: 16px;
    }

    .for-price_header-mobile {
        color: #86869A;
        font-size: 16px;
        line-height: 140%;
        padding: 5px 0;
    }

    .for-price_row-mobile {
        display: grid;
        grid-template-columns: 1fr 1.4fr;
        justify-items: center;
        border-top: solid 1px #CBCBDA;
    }

    .for-price_row-mini-mobile {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        width: 100%;
    }

    .for-price_col-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-right: solid 1px #CBCBDA;
        align-items: center;
        width: 100%;
    }

    .for-price_row-mobile {
        color: #000;
        font-size: 16px;
        line-height: 140%
    }

    .for-price_row-mini-mobile .for-price_col-mobile {
        border: none;
    }

    .border-none {
        border: none;
    }

    .for-price_row-colors {
        color: #86869A;
        font-size: 12px;
        line-height: 140%;
        padding: 8px 0;
    }

}