body {
    font-family: Manrope;
    background: #F3F3F8;
}

p {
    margin: 0;
}

a {
    text-decoration: unset;
    color: unset;
}

.container-width {
    max-width: 1180px;
    margin: auto;
}


.footer {
    background: #FFF;
    margin-top: 80px;
    padding-bottom: 66px;
    padding-top: 80px;
}

.footer_contacts {
    display: flex;
    flex-direction: column;
    color: #CBCBDA;
    font-size: 77px;
    font-weight: 600;
    line-height: 105%;
}

.footer_item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_phone:hover {
    color: #FF6E1D;
}

.footer_email:hover {
    color: #FF6E1D;
}

.footer_leave-reviews {
    max-width: 418px;
    width: 100%;
    height: max-content;
    padding-top: 12px;
    padding-bottom: 12px;
    gap: 10px;
    border-radius: 30px;
    background: #FF6E1D;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%
}

.footer_leave-reviews:hover {
    max-width: 424px;
    width: 100%;
}

.footer_write-to-director {
    max-width: 280px;
    width: 100%;
    height: max-content;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 30px;
    background: #F3F3F8;
    color: #86869A;
    font-size: 20px;
    line-height: 130%;
}

.footer_write-to-director:hover {
    max-width: 286px;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 109px;
    margin-top: 100px;
    border-radius: 40px;
    background: #F3F3F8;
    padding: 30px;
}

.wrapper-footer-navigation {
    display: flex;
    justify-content: space-between;
}

.footer_navigation {
    display: flex;
    gap: 30px;
}

.footer_navigation_item {
    color: #86869A;
    font-size: 20px;
    line-height: 130%;
}

.footer_navigation_item:hover {
    color: black;
}

.wrapper-footer-logo {
    display: flex;
    gap: 9px;
    color: #A9A9C1;
    text-align: right;
    font-size: 18px;
    line-height: 109%;
}

.wrapper-footer-logo:hover {
    color: black;
}

.wrapper-footer-logo:hover .footer_logo {
    filter: none;
}

.footer_logo {
    width: 63px;
    height: 35px;
    filter: grayscale(1);
}

.working-time {
    display: flex;
    justify-content: space-between;
}

.working-days {
    display: flex;
    padding: 10px 26px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: #FFF;
    font-size: 20px;
    line-height: 130%;
}

.working-days span {
    color: #86869A;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.rules {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.rules_item {
    color: #86869A;
    font-size: 12px;
    text-decoration-line: underline;
}