body {
    font-family: Manrope;
    background: #F3F3F8;
}

p {
    margin: 0;
}

a {
    text-decoration: unset;
    color: unset;
}

.products {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    width: auto;
    justify-content: center;
}

.products_item {
    display: flex;
    flex-direction: column;
    max-width: 272px;
}


.products_img {
    border-radius: 30px;
    max-width: 272px;
    max-height: 340px;
}

.products_item .descriptions {
    font-size: 16px;
    line-height: 140%;
    margin-top: 30px;
}

.products_item .price {
    font-family: Onest;
    font-size: 27px;
    line-height: 130%;
    margin-top: 12px;
}

.products_item .button-detail {
    max-width: max-content;
    padding: 12px 29px 12px 30px;
    border-radius: 30px;
    background: #FF6E1D;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    margin-top: 12px;
}

.products_item .button-detail:hover {
    padding: 12px 35px 12px 36px;
}
