@media (max-width: 786px) {
    .contacts {
        margin-top: -30px;
        gap: 20px;
    }

    .contacts_header {
        font-size: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .contacts_header:after {
        display: block;
        content: '';
        width: 84px;
        height: 21px;
        background-image: url("data:image/svg+xml,%3Csvg width='85' height='23' viewBox='0 0 85 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 11.9414V8.44141C17 7.61341 16.329 6.94141 15.5 6.94141V6.94141C14.672 6.94141 14 7.61341 14 8.44141' stroke='%2386869A' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 9.44141C17 8.61341 17.672 7.94141 18.5 7.94141V7.94141C19.329 7.94141 20 8.61341 20 9.44141V12.9414' stroke='%2386869A' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.0012 11.9414V3.44141C14.0012 2.61341 13.3302 1.94141 12.5012 1.94141V1.94141C11.6732 1.94141 11.0012 2.61341 11.0012 3.44141V10.9414V13.9414L9.11718 12.0574C8.50018 11.4404 7.50118 11.4404 6.88418 12.0574V12.0574C6.37018 12.5714 6.29018 13.3764 6.69418 13.9814L10.2202 19.2694C11.3332 20.9384 13.2062 21.9414 15.2132 21.9414H17.0012C20.3152 21.9414 23.0012 19.2554 23.0012 15.9414V11.9414V10.4414C23.0012 9.61341 22.3302 8.94141 21.5012 8.94141V8.94141C20.6732 8.94141 20.0012 9.61341 20.0012 10.4414' stroke='%2386869A' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M23.0857 1L24.9997 2.914L22.9727 4.941' stroke='%2386869A' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2.91434 1L1.00034 2.914L3.02734 4.941' stroke='%2386869A' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M25 2.91016H19' stroke='%2386869A' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1 2.91016H7' stroke='%2386869A' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M37.28 16.4707V15.5537C37.5367 15.577 37.749 15.5677 37.917 15.5257C38.085 15.479 38.2203 15.3764 38.323 15.2177C38.4303 15.059 38.5237 14.8234 38.603 14.5107C38.6823 14.1934 38.7617 13.7804 38.841 13.2717C38.9297 12.721 39.0043 12.1727 39.065 11.6267C39.1303 11.0807 39.1863 10.5277 39.233 9.9677C39.2843 9.40304 39.3263 8.82437 39.359 8.2317C39.3917 7.63904 39.422 7.02537 39.45 6.3907H45.813V16.4707H44.784V7.3777H40.444C40.4113 7.85837 40.3787 8.3507 40.346 8.8547C40.318 9.3587 40.2807 9.87437 40.234 10.4017C40.192 10.929 40.1383 11.4727 40.073 12.0327C40.0123 12.588 39.9353 13.162 39.842 13.7547C39.7673 14.2027 39.6787 14.618 39.576 15.0007C39.478 15.3834 39.338 15.7054 39.156 15.9667C38.9787 16.228 38.7383 16.4077 38.435 16.5057C38.1363 16.6037 37.7513 16.592 37.28 16.4707ZM53.7751 8.9107V16.4707H52.7741V10.5837L48.6301 16.4707H47.7621V8.9107H48.7631V14.7487L52.9141 8.9107H53.7751ZM58.8758 16.6807C58.1151 16.6807 57.4711 16.5104 56.9438 16.1697C56.4164 15.829 56.0151 15.36 55.7398 14.7627C55.4691 14.1607 55.3291 13.47 55.3198 12.6907C55.3291 11.8974 55.4738 11.202 55.7538 10.6047C56.0338 10.0027 56.4374 9.53604 56.9648 9.2047C57.4921 8.8687 58.1314 8.7007 58.8828 8.7007C59.6481 8.7007 60.3131 8.88737 60.8778 9.2607C61.4471 9.63404 61.8368 10.145 62.0468 10.7937L61.0388 11.1157C60.8614 10.663 60.5791 10.313 60.1918 10.0657C59.8091 9.8137 59.3704 9.6877 58.8758 9.6877C58.3204 9.6877 57.8608 9.81604 57.4968 10.0727C57.1328 10.3247 56.8621 10.677 56.6848 11.1297C56.5074 11.5824 56.4164 12.1027 56.4118 12.6907C56.4211 13.596 56.6311 14.324 57.0418 14.8747C57.4524 15.4207 58.0638 15.6937 58.8758 15.6937C59.3891 15.6937 59.8254 15.577 60.1848 15.3437C60.5488 15.1057 60.8241 14.7604 61.0108 14.3077L62.0468 14.6157C61.7668 15.2877 61.3561 15.801 60.8148 16.1557C60.2734 16.5057 59.6271 16.6807 58.8758 16.6807ZM65.365 16.4707V9.8627H62.684V8.9107H69.075V9.8627H66.394V16.4707H65.365ZM72.2856 16.6807C71.7162 16.6807 71.2379 16.578 70.8506 16.3727C70.4679 16.1674 70.1809 15.8944 69.9896 15.5537C69.7982 15.213 69.7026 14.842 69.7026 14.4407C69.7026 14.03 69.7842 13.68 69.9476 13.3907C70.1156 13.0967 70.3419 12.8564 70.6266 12.6697C70.9159 12.483 71.2496 12.3407 71.6276 12.2427C72.0102 12.1494 72.4326 12.0677 72.8946 11.9977C73.3612 11.923 73.8162 11.86 74.2596 11.8087C74.7076 11.7527 75.0996 11.699 75.4356 11.6477L75.0716 11.8717C75.0856 11.125 74.9409 10.572 74.6376 10.2127C74.3342 9.85337 73.8069 9.6737 73.0556 9.6737C72.5376 9.6737 72.0989 9.79037 71.7396 10.0237C71.3849 10.257 71.1352 10.6257 70.9906 11.1297L69.9896 10.8357C70.1622 10.159 70.5099 9.63404 71.0326 9.2607C71.5552 8.88737 72.2342 8.7007 73.0696 8.7007C73.7602 8.7007 74.3459 8.83137 74.8266 9.0927C75.3119 9.34937 75.6549 9.7227 75.8556 10.2127C75.9489 10.432 76.0096 10.677 76.0376 10.9477C76.0656 11.2184 76.0796 11.4937 76.0796 11.7737V16.4707H75.1626V14.5737L75.4286 14.6857C75.1719 15.3344 74.7729 15.829 74.2316 16.1697C73.6902 16.5104 73.0416 16.6807 72.2856 16.6807ZM72.4046 15.7917C72.8852 15.7917 73.3052 15.7054 73.6646 15.5327C74.0239 15.36 74.3132 15.1244 74.5326 14.8257C74.7519 14.5224 74.8942 14.1817 74.9596 13.8037C75.0156 13.561 75.0459 13.295 75.0506 13.0057C75.0552 12.7117 75.0576 12.4924 75.0576 12.3477L75.4496 12.5507C75.0996 12.5974 74.7192 12.644 74.3086 12.6907C73.9026 12.7374 73.5012 12.791 73.1046 12.8517C72.7126 12.9124 72.3579 12.9847 72.0406 13.0687C71.8259 13.1294 71.6182 13.2157 71.4176 13.3277C71.2169 13.435 71.0512 13.5797 70.9206 13.7617C70.7946 13.9437 70.7316 14.17 70.7316 14.4407C70.7316 14.66 70.7852 14.8724 70.8926 15.0777C71.0046 15.283 71.1819 15.4534 71.4246 15.5887C71.6719 15.724 71.9986 15.7917 72.4046 15.7917ZM81.0379 8.0147C80.7065 8.0147 80.4032 7.93304 80.1279 7.7697C79.8525 7.60637 79.6332 7.38937 79.4699 7.1187C79.3112 6.84337 79.2319 6.54004 79.2319 6.2087H80.0859C80.0859 6.47004 80.1792 6.69404 80.3659 6.8807C80.5525 7.06737 80.7765 7.1607 81.0379 7.1607C81.3039 7.1607 81.5279 7.06737 81.7099 6.8807C81.8965 6.69404 81.9899 6.47004 81.9899 6.2087H82.8439C82.8439 6.54004 82.7622 6.84337 82.5989 7.1187C82.4402 7.38937 82.2232 7.60637 81.9479 7.7697C81.6725 7.93304 81.3692 8.0147 81.0379 8.0147ZM83.9079 8.9107V16.4707H82.9069V10.5837L78.7629 16.4707H77.8949V8.9107H78.8959V14.7487L83.0469 8.9107H83.9079Z' fill='%23A9A9C1'/%3E%3C/svg%3E%0A");
    }

    .contacts_city-wrapper {
        overflow-x: auto;
        white-space: nowrap;
        gap: 29px;
        font-size: 16px;
        line-height: 140%
    }

    .contacts_city-wrapper::-webkit-scrollbar {
        display: none;
    }

    .contacts_content {
        flex-direction: column;
    }

    .contacts_content_tel {
        font-size: 34px;
        padding: 20px 15px;
    }

    .contacts_information-block {
        font-size: 16px;
        line-height: 140%
    }

    .contacts_information-item {
        padding: 10px 14px;
    }

    div.contacts_information-item:nth-child(1) span {
        display: none;
    }


    .delivery {
        margin-top: 80px;
    }

    .delivery_header {
        font-size: 24px;
    }

    .delivery_wrapper-items {
        flex-direction: column;
    }

    .delivery_item {
        font-size: 16px;
        padding: 16px;
    }

    .delivery_item_header {
        font-size: 20px;
        line-height: 130%;
    }


    .requisites {
        margin-top: 80px;
        gap: 20px;
    }

    .requisites_item-wrapper {
        padding: 16px 34px 16px 16px;
        gap: 16px;
    }

    .requisites_content {
        flex-direction: column;
        gap: 20px;
    }

    .requisites_item {
        font-size: 16px;
        line-height: 140%
    }

    .requisites_file-wrapper {
        padding: 19px 16px;
        max-width: 100%;
        align-items: center;
    }

    .requisites_file-wrapper:before {
        min-width: 64px;
        width: 64px;
        height: 85px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='85' viewBox='0 0 64 85' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M36.975 0C37.5326 0 38.0648 0.232738 38.4434 0.642078L62.4693 26.6219C62.8112 26.9915 63.001 27.4764 63.001 27.9798L63.0003 74.3405C63.0003 80.058 58.6453 85.0005 52.9916 85.0005H9.96861C4.30246 85.0005 0 80.0444 0 74.3405V74.3393L0.0407423 10.6599C0.0407423 10.6597 0.0407423 10.6596 0.0407423 10.6594C0.0407423 10.6591 0.0407428 10.6589 0.0407428 10.6587C0.0413862 4.9553 4.34362 0 10.0094 0H36.975ZM2.04074 10.6599L2 74.3405C2 79.1035 5.56385 83.0005 9.96861 83.0005H52.9916C57.3964 83.0005 61.0003 79.1035 61.0003 74.3405L61.001 27.9798L36.975 2H10.0094C5.6046 2 2.04074 5.89697 2.04074 10.6599ZM35.1309 11.5656V28.2721H48.2941C49.1663 28.2721 49.6204 27.2335 49.0282 26.5932L35.1309 11.5656ZM33.1309 28.2721C33.1309 29.3767 34.0263 30.2721 35.1309 30.2721H48.2941C50.9107 30.2721 52.2732 27.1563 50.4966 25.2353L36.5992 10.2077C35.3637 8.87173 33.1309 9.74592 33.1309 11.5656V28.2721Z' fill='%2386869A'/%3E%3Cpath d='M16.9043 65.2512V53.4424H21.0699C21.9792 53.4424 22.7324 53.6096 23.3297 53.944C23.9269 54.2785 24.3739 54.7359 24.6707 55.3163C24.9674 55.8929 25.1157 56.5426 25.1157 57.2653C25.1157 57.9918 24.9655 58.6453 24.6649 59.2257C24.3682 59.8023 23.9193 60.2598 23.3182 60.598C22.721 60.9325 21.9696 61.0997 21.0642 61.0997H18.1996V59.589H20.9045C21.4789 59.589 21.9449 59.489 22.3025 59.2891C22.6601 59.0854 22.9226 58.8086 23.09 58.4588C23.2574 58.109 23.3411 57.7112 23.3411 57.2653C23.3411 56.8194 23.2574 56.4234 23.09 56.0775C22.9226 55.7315 22.6582 55.4605 22.2968 55.2645C21.9392 55.0684 21.4675 54.9704 20.8816 54.9704H18.6676V65.2512H16.9043Z' fill='%2386869A'/%3E%3Cpath d='M30.9662 65.2512H27.1829V53.4424H31.086C32.2311 53.4424 33.2145 53.6788 34.0362 54.1516C34.8579 54.6206 35.4875 55.2952 35.925 56.1755C36.3663 57.0519 36.587 58.1033 36.587 59.3295C36.587 60.5596 36.3644 61.6167 35.9193 62.5008C35.478 63.385 34.8389 64.0653 34.002 64.542C33.165 65.0148 32.1531 65.2512 30.9662 65.2512ZM28.9461 63.6944H30.8692C31.7594 63.6944 32.4993 63.5253 33.089 63.187C33.6786 62.8449 34.1199 62.3509 34.4128 61.7051C34.7058 61.0555 34.8522 60.2636 34.8522 59.3295C34.8522 58.4031 34.7058 57.617 34.4128 56.9712C34.1237 56.3254 33.6919 55.8353 33.1175 55.5009C32.543 55.1664 31.8298 54.9992 30.9776 54.9992H28.9461V63.6944Z' fill='%2386869A'/%3E%3Cpath d='M38.7796 65.2512V53.4424H46.0267V54.9761H40.5429V58.5742H45.5074V60.1022H40.5429V65.2512H38.7796Z' fill='%2386869A'/%3E%3Crect x='10.082' y='46.5391' width='42.7714' height='25.6177' rx='4' stroke='%2386869A' stroke-width='2'/%3E%3C/svg%3E");
    }

    .requisites_file {
        gap: 8px;
    }

    .requisites_file_header {
        color: #86869A;
        font-size: 20px;
        line-height: 130%
    }
}