@media (max-width: 768px) {
    .popup {
        max-width: 308px;
        padding: 16px;
        border-radius: 24px;
    }

    .popup_button-close {
        right: 0;
        top: -30px;
    }

    .popup_header {
        font-size: 24px;
        font-weight: 500;
        line-height: 120%
    }

    .popup_params-wrapper {
        font-size: 15px;
        line-height: 140%;
    }

    .popup-input {
        padding: 9px 16px;
    }

    .popup-textarea {
        height: 134px;
    }

    .popup-button-wrapper {
        justify-content: end;
    }

    .popup-button {
        font-size: 14px;
        font-weight: 500;
        padding: 10px 30px;
    }

    .popup-button-download {
        display: none;
    }


    .popup_input-wrapper {
        margin-top: 16px;
    }

    .selection_item-wrapper {
        max-height: 255px;
        margin-top: 0;
    }

}